<div class="container margin-top" ng-hide="loaded" ng-include="'partials/loader.html'" >
</div>

<div class="header bg-item" ng-show="loaded">
	<h1 class="container capitalize">
		<i class="icon pull-right i-trash icon-link" ng-if="elm.deletable" ng-click='modalDelete(elm, $event)' alt="Delete"></i>
		<i class="icon pull-right icon-link" ng-class="{true:'i\-tracking\-tracked', false:'i\-tracking\-untracked'}[elm.tracking]" ng-click="trackingToggle(elm, $event); propertySave(elm, 'tracking', elm.tracking)" alt="Tracking"></i>
		<i class="icon i-element i-element-item"></i>
		 {{elm.type}} <span ng-if="elm.specifications_shipment">{{elm.specifications_shipment.type}}</span> </h1>
</div>

<div class="container margin-top" ng-show="loaded" ng-class="{true:'anim'}[elm.anim]">
	<div class="row">
		<div class="col-md-3">
			<div class="filet">
				<h6>reference</h6>
				<h2><span class="label label-item">{{elm.reference}}</span></h2>
			</div>
		</div>
		<div class="col-md-6">
			<div class="filet">
				.
			</div>
		</div>
		<div class="col-md-2">
			<div class="filet">
				.
			</div>
		</div>
		<div class="col-md-1">
			<img ng-src="{{elm.qrCodeGoogle}}" alt="QR code" class="clearfix"/>
		</div>
	</div>
		
	<div class="row margin-top">
		<div class="col-md-3">
			<div class="filet">
				<h6>description</h6>
				<p ng-repeat="info in elm.infos"><span ng-repeat="(key, value) in info"><strong>{{key}}: </strong> {{value}}</span></p>
			</div>
		</div>
	</div>
	
	<div ng-if="elm.indicators">
		<div class="row margin-top-l">
			<div class="col-md-6">
				<h3>indicators</h3>
			</div>
		</div>
	
		
		<div class="row">
			<div class="col-md-6">
				<div class="filet">
					<h4>{{charts.stockLevelHistory.name}}</h4>
					<nvd3-multi-bar-chart 
						showXAxis="true"
						showYAxis="true"
						data="charts.stockLevelHistory.datas" 
						id="{{charts.stockLevelHistory.id}}" 
						x="charts.stockLevelHistory.xFunction()"
						y="charts.stockLevelHistory.yFunction()"
						color="colors.item()"
						legendcolor="colors.item()"
						margin="{left:50,top:0,bottom:20,right:0}"
						stacked="true"
						showLegend="true"
						showLabels="true"
						interactive="true"
						tooltips="true"
						tooltipcontent="tooltips.vBarChart()"
						><svg></svg>
					</nvd3-multi-bar-chart>
				</div>
			</div>
			
			<div class="col-md-6">
				<div class="filet">
					<h4>{{charts.quantity.name}}</h4>
					<nvd3-pie-chart 
						data="charts.quantity.datas" 
						id="{{charts.quantity.id}}" 
						x="charts.quantity.xFunction()"
						y="charts.quantity.yFunction()"
						color="colors.item()"
						legendcolor="colors.item()"
						margin="{left:0,top:0,bottom:20,right:0}"
						showLabels="true"
						pieLabelsOutside="true"
						showValues="true"
						labelType="value"
						showLegend="true"
						tooltips="true"
						tooltipcontent="tooltips.pieChart()"
						><svg></svg>
					</nvd3-pie-chart>
				</div>	    
			</div>
		</div>
		
		<div class="row margin-top">	
			<div class="col-md-6">
				<div class="filet">
					<h4>{{charts.inputOutputHistory.name}}</h4>
					<nvd3-multi-bar-chart
						showXAxis="true"
						showYAxis="true"
						data="charts.inputOutputHistory.datas" 
						id="{{charts.inputOutputHistory.id}}"
						x="charts.inputOutputHistory.xFunction()"
						y="charts.inputOutputHistory.yFunction()"
						color="colors.item()"
						legendcolor="colors.item()"
						margin="{left:70,top:0,bottom:20,right:0}"
						showLegend="true"
						showLabels="true"
						pieLabelsOutside="false"
						labelType="percent"
						interactive="true"
						tooltips="true"
						tooltipcontent="tooltips.vBarChart()"
						><svg></svg>
					</nvd3-multi-bar-chart>
				</div>  	    
			</div>
			
			<div class="col-md-6">
				<div class="filet">
					<h4>{{charts.purchasePriceHistory.name}}</h4>
					<nvd3-line-chart
					    	data="charts.purchasePriceHistory.datas"
					        id="{{charts.purchasePriceHistory.id}}"
					        xAxisTickFormat="xAxisTickFormatFunction()"
					        yAxisTickFormat="yAxisTickFormatFunction()"
					        showXAxis="true"
					        showYAxis="true"
					        interactive="true"
					        tooltips="true"
					        tooltipcontent="tooltips.lineChart()">
					        	<svg></svg>
					    </nvd3-line-chart>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row margin-top-l" ng-if="elm.movements">
		<div class="col-md-12">
			<h3>location</h3>
				<div class="elements-group margin-top" ng-repeat="move in elm.movements">
				<div class="row">
					<div class="col-md-6">
						<h6>warehouse</h6>
						<h2>{{move.zones.dest.name}} <a class="btn" ng-href="warehouses/{{move.zones.dest.id}}" alt="Warehouse details"><i class="icon i-external-link"></i></a></h2>
						<div class="row">
							<div class="col-md-6">
								<h6>location</h6>
								<p>{{move.zones.dest.address.city}}, {{move.zones.dest.address.country}}</p>
								<h6>entry date</h6>
								<p>{{move.date * 1000 | date:'dd.MM.yy, HH:mm'}}</p>
							</div>
							<div class="col-md-6" ng-if="move.zones.origin">
								<h6>origin</h6>
								<p><strong>{{move.zones.origin.name}}</strong></p>
								<h6>location</h6>
								<p>{{move.zones.origin.address.city}}, {{move.zones.origin.address.country}}</p>
							</div>
						</div>
						
						<h6 class="margin-top">movements</h6>
						<table class="table middle margin-top">
							<thead>
							<tr>
								<th><h6>step</h6></th>
								<th><h6>type</h6></th>
								<th><h6>source </h6></th>
								<th><h6>destination</h6></th>
								<th><h6>date</h6></th>
								<th><h6>quantity</h6></th>
							</tr>
							</thead>
							<tbody>
								<tr ng-repeat="movement in move.movements" ng-class="{highlite: movement.current}">
									<td><strong>{{movement.step}}</strong></td>
									<td><strong>{{movement.type}}</strong></td>
									<td><small>{{movement.zones.origin.name}}</small></td>
									<td><small><strong>{{movement.zones.dest.name}}</strong></small></td>
									<td><small>{{movement.date * 1000 | date:'dd.MM.yy, HH:mm'}}</small></td>
									<td><small>{{movement.quantity}}</small></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-6">
						<span clear-item-map movements="move.movements"></span>
						<div class="row margin-top" ng-if="move.out">
							<div class="col-md-6">
								<h6>pulled out by</h6>
								<p>{{move.out.name}}</p>
								<h6>date</h6>
								<p>{{move.out.date * 1000 | date:'dd.MM.yy, HH:mm'}}</p>
							</div>
							<div class="col-md-6">
								<h6>signature</h6>
								<p><img class="img-responsive" ng-src="{{move.out.image.url}}" alt="move.out.image.name" /></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row margin-top">
		<div class="col-md-12">
			<h3>costs</h3>
			<table class="table middle">
				<thead>
				<tr>
					<th><h6>date</h6></th>
					<th><h6>quantity </h6></th>
					<th><h6>cost</h6></th>
					<th><h6>supplier</h6></th>
				</tr>
				</thead>
				<tbody>
					<tr ng-repeat="cost in elm.costs">
						<td><small>{{cost.date * 1000 | date:'dd.MM.yy, HH:mm'}}</small></td>
						<td><small>{{cost.quantity}}</small></td>
						<td><small>{{cost.cost}}</small></td>
						<td><small>{{cost.supplier.name}}</small></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="row margin-top">
		<div class="col-md-12">
			<h3>properties</h3>
			<accordion close-others="false">
			    <accordion-group ng-repeat="group in elm.properties" is-open="group.name===currentGroup">
			    	<accordion-heading><i class="icon" ng-class="['i-property-' + group.id]"></i> {{group.name}}
			    	</accordion-heading>
					<div class="form-horizontal">
						<div class="form-group" ng-repeat="prop in group.set">
							<label class="col-xs-4 control-label">{{prop.name}}</label> 
							<span class="col-xs-4" ng-switch on="prop.type">
								<div class="input-group" ng-switch-when="text">
								  <input type="text" class="form-control" ng-model="prop.value" ng-disabled="!prop.editable">
								  <span class="input-group-btn"><button class="btn" type="button" ng-disabled="!prop.editable" ng-click="propertySave(elm, prop, group.name)">Save</button></span>
								</div>
								<div class="checkbox" ng-switch-when="checkbox">
									<label><input type="checkbox" ng-model="prop.value" ng-checked="prop.value" ng-disabled="!prop.editable" ng-change="propertySave(elm, prop, group.name)"></label>
								</div>
								<select ng-switch-when="select" ng-model="prop.value" ng-disabled="!prop.editable" ng-change="propertySave(elm, prop, group.name)" class="form-control" ng-options="val.id as val.name for val in prop.values">
								</select>
								
								<div class="input-group" ng-switch-when="date">
									<input type="text" class="form-control" 
										datepicker-popup="dd.MM.yy HH:mm" 
										ng-model="prop.date" 
										is-open="prop.opened" 
										min="minDate" 
										date-disabled="calDisabled(date, mode)" 
										ng-disabled="!prop.editable" 
										show-weeks="false"
										ng-change="prop.value = dateToTimestamp(prop.date); propertySave(elm, prop, group.name)">
									<span class="input-group-btn"><button class="btn" ng-click="calOpen($event, prop.name)" ng-disabled="!prop.editable"><i class="icon i-condition-date"></i></button></span>
								</div>
							</span>
							<span class="col-xs-4">
								<div class="margin-top-s"><i class="icon i-infos" tooltip="{{prop.info}}" tooltip-placement="right" ng-if="prop.info"></i></div>
							</span>
							
				    	</div>
					</div>
			    </accordion-group>
			  </accordion>
		</div><!--/span-->
	</div><!--/row-->
	
</div>