<div class="header bg-generic bg-inspectionReport">
	<h1 class="container">
		<i class="icon i-forklift"></i> Warehouses
	</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="margin-top" ng-hide="loaded" ng-include="'partials/loader.html'" >
			</div>
			
			<div ng-show="loaded">
			
				<div class="row">
					<div class="col-md-12" ng-repeat="warehouse in warehouses">
						<div class="element margin-top">
							<div class="row">
								<div class="col-md-6">
									<h2>{{warehouse.name}} </h2>
									<h6>address</h6>
									<p>{{warehouse.address.street}}<br />
										{{warehouse.address.zipcode}} {{warehouse.address.city}}<br />
											{{warehouse.address.country}}</p>
									<h6>contact</h6>
									<p>{{warehouse.user.first_name}} {{warehouse.user.last_name}}</p>
									<p>{{warehouse.user.phone}}</p>
									<p>{{warehouse.user.email}}</p>
									<p class="margin-top"><a ng-href="stock/warehouses/{{warehouse.id}}" class="btn" alt="Warehouse details">Warehouse details</a></p>
								</div>
								
								<div class="col-md-6">
									<span clear-warehouse-map areas="warehouse.areas"></span>
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>		
		</div>
	</div>
</div>