<div class="header bg-generic bg-inspectionReport">
	<h1 class="container">
		<i class="icon i-forklift"></i> Warehouse
	</h1>
</div>

<div class="container margin-top">
	<div class="margin-top" ng-hide="loaded" ng-include="'partials/loader.html'" >
	</div>
	
	<div ng-show="loaded">
		<div class="row hide">
		    <div class="col-md-6">
		    	<pre><small>
listsConfig: {{listsConfig | json}}
		    	</small></pre>
		    </div>
		    <div class="col-md-6">
		    	<pre><small>
filters.tmp: {{filters.tmp | json}}
				</small></pre>
		    </div><!--/col-->
		</div><!--/row-->
	
		<div class="row">
			<div class="col-md-3">
				<div class="filet">
					<h6>name</h6>
					<h2>{{warehouse.name}}</h2>
				</div>
			</div>
			<div class="col-md-6">
				<div class="filet">
					<h6>address</h6>
					<p>{{warehouse.address.street}}
					<br />{{warehouse.address.zipcode + " " + warehouse.address.city}}
					<br /><strong>{{warehouse.address.country}}</strong>
					</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="filet">
					<h6>contact</h6>
					<p>{{warehouse.user.first_name}} {{warehouse.user.last_name}}
					<br />{{warehouse.user.phone}}
					<br />{{warehouse.user.email}}</p>
				</div>
			</div>
		</div>
		
		<div class="row margin-top">
			<div class="col-md-12">
				<h3>areas</h3>
					<div class="elements-group">
					<div class="row">
						<div class="col-md-12">
							<span clear-warehouse-map areas="warehouse.areas"></span>
						</div>
					</div>
					<!--<div class="row">
						<div class="col-md-12">
							<table class="table middle margin-top">
								<thead>
								<tr>
									<th><h6>name</h6></th>
									<th><h6>reference </h6></th>
									<th><h6>type </h6></th>
									<th><h6>filling rate</h6></th>
									<th><h6>quantity</h6></th>
								</tr>
								</thead>
								<tbody>
									<tr ng-repeat="area in warehouse.areas">
										<td><strong>{{area.name}}</strong></td>
										<td>{{area.reference}}</td>
										<td>{{area.type}}</td>
										<td>{{area.ratio}} %</td>
										<td>{{area.quantity}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>-->
				</div>
			</div>
		</div>
		
		<div class="row margin-top" ng-if="warehouse.related" id="related">
			<div class="col-md-12">
				<h3>related</h3>
				<tabset>
				    <tab ng-repeat="related in warehouse.related" disabled="related.disabled" active="relatedActiveTab[related.type]">
				        <tab-heading><h4 class="capitalize">{{related.name}} ({{related.quantity}})</h4></tab-heading>
				        <span ng-controller="ListCtrl" ng-if="related.type === 'movement'">
				            <span ng-include="'partials/stock/movements-tpl.html'" onload="listInit('movement')"></span>
				        </span>
				        <span ng-controller="ListCtrl" ng-if="related.type === 'item'">
				            <span ng-include="'partials/stock/items-tpl.html'" onload="listInit('item')"></span>
				        </span>
				        <span ng-controller="ListCtrl" ng-if="related.type === 'replenishment'">
				            <span ng-include="'partials/stock/replenishments-tpl.html'" onload="listInit('replenishment')"></span>
				        </span>
				    </tab>
	            </tabset>			
			</div>
		</div>
	
	</div>
	
</div>