**/.DS_store
npm-debug.log
logs/*
app/
.tmp/
node_modules/
!.gitkeep
config/
logs/
scripts/
test/
app-dev/lscm-clear.com.esproj/
app-tmp/pdf/lscm-clear.pdf.esproj/
app-tmp/pdf-old/lscm-clear.pdf.old.esproj/
app-dev/components/
.sass-cache