<div class="row-fluid">
	<div class="span12 header bg-generic">
		<h1 class="borders">Guidelines</h1>
	</div>
</div>

<div class="row-fluid borders border-top">
	<div class="span12">
		<h3>process overview</h3>
		
	    <accordion close-others="false">
    	    <accordion-group>
    	    	<accordion-heading>
    	    		<h4>Filters</h4>
    	    	</accordion-heading>
    			<div class="row-fluid">
    				<div class="span4">
    					<legend>Informations type </legend>
    					<label class="control-label checkbox">
    						<input type="checkbox" ng-model="display.processing"> Milestones
    					</label>
    					<label class="control-label checkbox">
    						<input type="checkbox" ng-model="display.downloads"> Downloads
    					</label>
    					<label class="control-label checkbox">
    						<input type="checkbox" ng-model="display.interactions"> Interactions
    					</label>
    					<label class="control-label checkbox">
    						<input type="checkbox" ng-model="display.updates"> Updates
    					</label>
    				</div>
    				
    				<div class="span4">
    					<legend>Locations</legend>
    					<label class="control-label checkbox">
    						<input type="checkbox" ng-model="location.na"> Location n/a
    					</label>
    					<label class="control-label checkbox">
    						<input type="checkbox" ng-model="location.vendor"> At the vendor
    					</label>
    					<label class="control-label checkbox">
    						<input type="checkbox" ng-model="location.tohub"> Transport to the hub
    					</label>
    					<label class="control-label checkbox">
    						<input type="checkbox" ng-model="location.hub"> At the hub
    					</label>
    					<label class="control-label checkbox">
    						<input type="checkbox" ng-model="location.fromhub"> Transport from the hub
    					</label>
    					<label class="control-label checkbox">
    						<input type="checkbox" ng-model="location.port"> At the port / airport
    					</label>
    					<label class="control-label checkbox">
    						<input type="checkbox" ng-model="location.toclient"> Transport to the client
    					</label>
    					<label class="control-label checkbox">
    						<input type="checkbox" ng-model="location.client"> At the client
    					</label>
    				</div>
    				
    				<div class="span4">
    					
    					
    				</div>
    			</div><!--/row-->
    	    </accordion-group>
        </accordion>
		
		<div ng-repeat="elm in elms | filter:filterFn">
			
			<div class="row-fluid">
				<div class="span12">
					<div class="group-elements">
					
						<!-- title -->
						
						<div class="group-elements-bg">
						
							<h1>{{elm.step}}. {{elm.name}}</h1>
							<h4>{{elm.location}}</h4>
							<p>{{elm.description}}</p>
							
						</div>
						
						<!-- Step milestones -->
						
						<div class="bg-stripped group-elements-bg" ng-if="!!elm.processing" ng-show="display.processing">
							<div class="row-fluid border-bottom-s">
								<div class="span12">
									<h6>Milestones</h6>
								</div>
							</div>
							
							<div class="row-fluid">
												
								<div class="span3" ng-class="{false:'mobile\-hide'}[!!elm.processing.order]">
									<div class="element" ng-if="!!elm.processing.order">
										<h5><span class="label label-order">Order </span> <span class="badge badge-parent" ng-if="elm.order.parent">Parent</span></h5>
										<div ng-if="!!elm.processing.order.milestone" class="border-top">
											<h6>milestone</h6>
											<h2>{{elm.processing.order.milestone.name}}</h2>
											<p><small>{{elm.processing.order.milestone.description}}</small></p>
										</div>
									</div>
								</div>
								
								<div class="span3" ng-class="{false:'mobile\-hide'}[!!elm.processing.shipment]">
									<div class="element" ng-if="!!elm.processing.shipment">
										<h5><span class="label label-shipment">Shipment </span> <span class="badge badge-parent" ng-if="elm.processing.shipment.parent">Parent</span></h5>
										<div ng-if="!!elm.processing.shipment.milestone" class="border-top">
											<h6>milestone</h6>
											<h2>{{elm.processing.shipment.milestone.name}}</h2>
											<p><small>{{elm.processing.shipment.milestone.description}}</small></p>
										</div>
									</div>
								</div>
								
								<div class="span3" ng-class="{false:'mobile\-hide'}[!!elm.processing.box]">
									<div class="element" ng-if="!!elm.processing.box">
										<h5><span class="label label-box">Box </span> <span class="badge badge-parent" ng-if="elm.processing.box.parent">Parent</span></h5>
										<div ng-if="!!elm.processing.box.milestone" class="border-top">
											<h6>milestone</h6>
											<h2>{{elm.processing.box.milestone.name}}</h2>
											<p><small>{{elm.processing.box.milestone.description}}</small></p>
										</div>
									</div>
								</div>
								
								<div class="span3" ng-class="{false:'mobile\-hide'}[!!elm.processing.item]">
									<div class="element" ng-if="!!elm.processing.item">
										<h5><span class="label label-item">Item</span> <span class="badge badge-parent" ng-if="elm.processing.item.parent">Parent</span></h5>
										<div ng-if="!!elm.processing.item.milestone" class="border-top">
											<h6>milestone</h6>
											<h2>{{elm.processing.item.milestone.name}}</h2>
											<p><small>{{elm.processing.item.milestone.description}}</small></p>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						
						<!-- downloads -->
						
						<div class="group-elements-bg bg-border-top elements-download" ng-if="!!elm.downloads" ng-show="display.downloads">
						
							<div class="row-fluid border-bottom-s">
								<div class="span12">
									<h6>Downloads</h6>
								</div>
							</div>
							
							<div class="row-fluid">
								
								<div class="span3" ng-class="{false:'mobile\-hide'}[!!elm.downloads.order]">
									<div class="element" ng-if="!!elm.downloads.order">
										<h5><span class="label label-order">Order </span></h5>
										<div ng-if="!!elm.downloads.order.documents" class="border-top">
											<h6>documents</h6>
											<div ng-repeat="required in elm.downloads.order.documents">
												<h5><span class="label label-neutral"><i class="fa" required-icon></i> {{required.name}}</span> <a ng-href="{{required.guideline.url}}" ng-if="!!required.guideline"><i class="fa fa-question-circle" tooltip="{{required.guideline.name}}" tooltip-placement="right"></i></a></h5>
												<p><small>{{required.description}}</small></p>
											</div>
										</div>
									</div>
								</div>
								
								<div class="span3" ng-class="{false:'mobile\-hide'}[!!elm.downloads.shipment]">
									<div class="element" ng-if="!!elm.downloads.shipment">
										<h5><span class="label label-shipment">Shipment </span></h5>
										<div ng-if="!!elm.downloads.shipment.documents" class="border-top">
											<h6>documents</h6>
											<div ng-repeat="required in elm.downloads.shipment.documents">
												<h5><span class="label label-neutral"><i class="fa" required-icon></i> {{required.name}}</span> <a ng-href="{{required.guideline.url}}" ng-if="!!required.guideline"><i class="fa fa-question-circle" tooltip="{{required.guideline.name}}" tooltip-placement="right"></i></a></h5>
												<p><small>{{required.description}}</small></p>
											</div>
										</div>
									</div>
								</div>
								
								<div class="span3" ng-class="{false:'mobile\-hide'}[!!elm.downloads.box]">
									<div class="element" ng-if="!!elm.downloads.box">
										<h5><span class="label label-box">Box </span></h5>
										<div ng-if="!!elm.downloads.box.documents" class="border-top">
											<h6>documents</h6>
											<div ng-repeat="required in elm.downloads.box.documents">
												<h5><span class="label label-neutral"><i class="fa" required-icon></i> {{required.name}}</span> <a ng-href="{{required.guideline.url}}" ng-if="!!required.guideline"><i class="fa fa-question-circle" tooltip="{{required.guideline.name}}" tooltip-placement="right"></i></a></h5>
												<p><small>{{required.description}}</small></p>
											</div>
										</div>
									</div>
								</div>
								
								<div class="span3" ng-class="{false:'mobile\-hide'}[!!elm.downloads.item]">
									<div class="element" ng-if="!!elm.downloads.item">
										<h5><span class="label label-item">Item</span></h5>
										<div ng-if="!!elm.downloads.item.documents" class="border-top">
											<h6>documents</h6>
											<div ng-repeat="required in elm.downloads.item.documents">
												<h5><span class="label label-neutral"><i class="fa" required-icon></i> {{required.name}}</span> <a ng-href="{{required.guideline.url}}" ng-if="!!required.guideline"><i class="fa fa-question-circle" tooltip="{{required.guideline.name}}" tooltip-placement="right"></i></a></h5>
												<p><small>{{required.description}}</small></p>
											</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>						
						
						<!-- Step interactions -->
						
						<div  class="group-elements-bg bg-border-top" ng-if="!!elm.interactions" ng-show="display.interactions">
						
							<div class="row-fluid border-bottom-s">
								<div class="span12">
									<h6>Interactions</h6>
								</div>
							</div>
						
							<div class="row-fluid no-margin" ng-repeat="action in elm.interactions" ng-class="{int_to:'plan\-left\-arrow', ext_to:'plan\-right\-arrow', ext:'plan\-right', undefined:'plan\-left'}[action.type]">
								<div class="span3 bloc1"><div class="center" ng-if="!!action.origin">
									<h2 class="picto center" ng-class="['picto_'+action.origin.type]">{{action.origin.company}}</h2></div>
								</div>
								<div class="span6 bloc2">
									<div class="action-label" ng-if="!!action.conditions || !!action.name">
										<h5>{{action.name}}</h5>
										<h5 ng-repeat="required in action.conditions"><div class="label label-neutral"><i class="fa" required-icon></i> {{required.name}}</div></h5>
									</div>
									<div class="center border-top-l border-bottom" ng-if="!!action.element">
										<h2><span class="label" ng-class="{order:'label\-order', shipment:'label\-shipment', box:'label\-box', item:'label\-item'}[action.element]">{{action.element}} </span></h2>
									</div>
								</div>
								<div class="span3 bloc3">
									
								</div>
							</div>
							
						</div>
						
						<!-- updates -->
						
						<div class="bg-border-top group-elements-bg elements-update" ng-if="!!elm.updates" ng-show="display.updates">
						
							<div class="row-fluid border-bottom-s">
								<div class="span12">
									<h6>Updates</h6>
								</div>
							</div>
							
							<div class="row-fluid">
								
								<div class="span3" ng-class="{false:'mobile\-hide'}[!!elm.updates.order]">
									<div class="element" ng-if="!!elm.updates.order">
										<h5><span class="label label-order">Order </span></h5>
										<div ng-if="!!elm.updates.order.conditions" class="border-top">
											<h6>conditions</h6>
											<div ng-repeat="required in elm.updates.order.conditions">
												<h5><span class="label label-neutral"><i class="fa" required-icon></i> {{required.name}}</span> <a ng-href="{{required.guideline.url}}" ng-if="!!required.guideline"><i class="fa fa-question-circle" tooltip="{{required.guideline.name}}" tooltip-placement="right"></i></a></h5>
												<p><small>{{required.description}}</small></p>
											</div>
										</div>
									</div>
								</div>
								
								<div class="span3" ng-class="{false:'mobile\-hide'}[!!elm.updates.shipment]">
									<div class="element" ng-if="!!elm.updates.shipment">
										<h5><span class="label label-shipment">Shipment </span></h5>
										<div ng-if="!!elm.updates.shipment.conditions" class="border-top">
											<h6>conditions</h6>
											<div ng-repeat="required in elm.updates.shipment.conditions">
												<h5><span class="label label-neutral"><i class="fa" required-icon></i> {{required.name}}</span> <a ng-href="{{required.guideline.url}}" ng-if="!!required.guideline"><i class="fa fa-question-circle" tooltip="{{required.guideline.name}}" tooltip-placement="right"></i></a></h5>
												<p><small>{{required.description}}</small></p>
											</div>
										</div>
									</div>
								</div>
								
								<div class="span3" ng-class="{false:'mobile\-hide'}[!!elm.updates.box]">
									<div class="element" ng-if="!!elm.updates.box">
										<h5><span class="label label-box">Box </span></h5>
										<div ng-if="!!elm.updates.box.conditions" class="border-top">
											<h6>conditions</h6>
											<div ng-repeat="required in elm.updates.box.conditions">
												<h5><span class="label label-neutral"><i class="fa" required-icon></i> {{required.name}}</span> <a ng-href="{{required.guideline.url}}" ng-if="!!required.guideline"><i class="fa fa-question-circle" tooltip="{{required.guideline.name}}" tooltip-placement="right"></i></a></h5>
												<p><small>{{required.description}}</small></p>
											</div>
										</div>
									</div>
								</div>
								
								<div class="span3" ng-class="{false:'mobile\-hide'}[!!elm.updates.item]">
									<div class="element" ng-if="!!elm.updates.item">
										<h5><span class="label label-item">Item</span></h5>
										<div ng-if="!!elm.updates.item.conditions" class="border-top">
											<h6>conditions</h6>
											<div ng-repeat="required in elm.updates.item.conditions">
												<h5><span class="label label-neutral"><i class="fa" required-icon></i> {{required.name}}</span> <a ng-href="{{required.guideline.url}}" ng-if="!!required.guideline"><i class="fa fa-question-circle" tooltip="{{required.guideline.name}}" tooltip-placement="right"></i></a></h5>
												<p><small>{{required.description}}</small></p>
											</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>

