<div class="header bg-order">
	<h1 class="container"><i class="icon i-element i-element-order"></i> Add order</h1>
</div>
<div class="container margin-top">
	<div class="row">
		<div class="col-md-12">
			<div class="elements-group">
				<form role="form" method="post" action="../index.php/order/new" enctype="multipart/form-data">
					<div class="form-group">
						<label for="BW">Select a BW.xls file</label>
						<input type="file" name="nom" />
						<p>&nbsp;</p>
						<button type="submit" name="submit" class="btn btn-default"/>Upload</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

