<div class="header bg-generic">
	<h1 class="container">Bug list</h1>
</div>

<div class="container margin-top">

	<div class="row filet-top" ng-repeat="bug in bugs">
		<div class="col-md-2">
			<h4>{{bug.name}}</h4>
			<span class="label label-default">{{bug.date}}</span> <span class="label label-warning">{{bug.status}}</span>
		</div>
		<div class="col-md-2">
			<h6>pages</h6>
			<ul><li ng-repeat="page in bug.pages">{{page}}</li></ul>
		</div>
		<div class="col-md-8">
			<h6>descritpion</h6>
			<p>{{bug.description}}</p>
			<h6>solution</h6>
			<p>{{bug.solution}}</p>
		</div>
	</div>

</div>

