<div class="header bg-generic">
	<h1 class="container">Dashboard</h1>
</div>

<div class="container margin-top" ng-hide="loaded" ng-include="'partials/loader.html'" >
</div>

<div class="container margin-top" ng-show="loaded">

	<div class="row">
		<div class="col-md-6">
			<canvas clear-planetary width='500' height='500' class="img-responsive"></canvas>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-xs-6">
					<h3 class="center-txt">Nigeria</h3>
					<div clear-clock timezone="1" class="clock"></div>
				</div>
				<div class="col-xs-6">
					<h3 class="center-txt">France</h3>
					<div clear-clock timezone="1" class="clock"></div>
				</div>
			</div>
			<div class="row margin-top">
				<div class="col-xs-6">
					<h3 class="center-txt">Korea</h3>
					<div clear-clock timezone="+9" class="clock"></div>
				</div>
				<div class="col-xs-6">
					<h3 class="center-txt">China</h3>
					<div clear-clock timezone="8" class="clock"></div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row margin-top-l">
		<div class="col-md-12">	
			<div class="header bg-shipment padding-left">
				<h1><i class="icon i-element i-element-shipment"></i> Shipments</h1>
			</div>
			<table class="table table-condensed" >
				<thead>
					<tr>
						<th><h6>reference</h6></th><th><h6>mode</h6></th><th><h6>milestone</h6></th><th><h6>status</h6></th><th><h6>required</h6></th><th><h6>departure</h6></th><th><h6>ETD</h6></th><th><h6>arrival</h6></th><th><h6>ETA</h6></th>
					</tr>
				</thead>
				<tbody>
					<tr  ng-repeat="elm in list" ng-click="go('shipment', elm.id)" class="pointer over">
						<td><span class="label label-shipment">{{elm.reference}}</span></td>
						<td><small><i class="icon" ng-class="{express:'i\-transportation\-plane', air:'i\-transportation\-plane', sea:'i\-transportation\-boat', haulage:'i\-transportation\-truck'}[elm.mode]"></i></small></td>
						<td><strong><small>{{elm.milestone}}</small></strong></td>
						<td><span class="label" status="{{elm.status}}">{{elm.delay}}</span></td>
						<td><ul class="inline">
						<li ng-repeat="required in elm.required">
						<span ng-click='modalOpen(elm, required, $event)' ng-disabled='!required.editable'><span class="btn btn-icon" required-status-btn><i class="icon" required-icon tooltip="{{required.name}}"></i></span></span>
						</li>
						</ul></td>
						<td><small>{{elm.departure.location}}</small></td>
						<td><small>{{elm.departure.date * 1000 | date:'dd.MM.yy, HH:mm'}}</small></td>
						<td><small>{{elm.arrival.location}}</small></td>
						<td><small>{{elm.arrival.date * 1000 | date:'dd.MM.yy, HH:mm'}}</small></td>
					</tr>
				</tbody>
				<tfoot ng-show="pagesCount>1">
					<tr>
						<td colspan="4">
						<pagination total-items="elementsCount" page="currentPage" max-size="10" boundary-links="true" direction-links="false" on-select-page="loadList(listType, {page: page})" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination></td>
					</tr>
				</tfoot>
			</table>
		</div> 	
	</div>
	
	<div class="row margin-top">
		<div class="col-md-12">
			<h3>global report</h3>
			<table class="table table-condensed">
				<thead>
				<tr>
					<th><h6>type </h6></th><th><h6>name</h6></th><th><h6>info</h6></th><th><h6></h6></th>
				</tr>
				</thead>
				<tbody>
					<tr>
						<td><i class="lead icon i-condition-document"></i>&nbsp;&nbsp;{{report.type}}</td>
						<td><strong>{{report.name}}</strong></td>
						<td><span class="label label-default">{{report.info}}</span></td>
						<td><a ng-href="{{report.url}}" class='btn btn-sm'>Download</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
</div>