<div class="header bg-generic">
	<h1 class="container">Dashboard</h1>
</div>

<div class="container margin-top" ng-hide="loaded" ng-include="'partials/loader.html'" >
</div>

<div class="container margin-top" ng-show="loaded">

	<div class="row hide">
		<div class="col-md-6">
			<canvas clear-planetary width='500' height='500' class="img-responsive"></canvas>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-xs-6">
					<h3 class="center-txt">Nigeria</h3>
					<div clear-clock timezone="1" class="clock"></div>
				</div>
				<div class="col-xs-6">
					<h3 class="center-txt">France</h3>
					<div clear-clock timezone="1" class="clock"></div>
				</div>
			</div>
			<div class="row margin-top">
				<div class="col-xs-6">
					<h3 class="center-txt">Korea</h3>
					<div clear-clock timezone="+9" class="clock"></div>
				</div>
				<div class="col-xs-6">
					<h3 class="center-txt">China</h3>
					<div clear-clock timezone="8" class="clock"></div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">	
			<div class="header bg-shipment padding-left">
				<h1><i class="icon i-element i-element-shipment"></i> Shipments</h1>
			</div>
			<table class="table table-condensed" >
				<thead>
					<tr>
						<th><h6><a ng-click="listSort('reference')"><span>reference</span> 
							<i class="icon" ng-class="{ASC:'i\-caret\-u', DESC:'i\-caret\-d'}[listInit.sortOrder]" ng-show="listInit.sortBy === 'reference'"></i>
							</a></h6></th>
						<th><h6><a ng-click="listSort('chrono')"><span>chrono</span> 
							<i class="icon" ng-class="{ASC:'i\-caret\-u', DESC:'i\-caret\-d'}[listInit.sortOrder]" ng-show="listInit.sortBy === 'chrono'"></i>
							</a></h6></th>
						<th><h6><a ng-click="listSort('mode')"><span>mode</span> 
							<i class="icon" ng-class="{ASC:'i\-caret\-u', DESC:'i\-caret\-d'}[listInit.sortOrder]" ng-show="listInit.sortBy === 'mode'"></i>
							</a></h6></th>
						<th><h6><a ng-click="listSort('milestone')"><span>milestone</span> 
							<i class="icon" ng-class="{ASC:'i\-caret\-u', DESC:'i\-caret\-d'}[listInit.sortOrder]" ng-show="listInit.sortBy === 'milestone'"></i>
							</a></h6></th>
						<th><h6><a ng-click="listSort('status')"><span>status</span> 
							<i class="icon" ng-class="{ASC:'i\-caret\-u', DESC:'i\-caret\-d'}[listInit.sortOrder]" ng-show="listInit.sortBy === 'status'"></i>
							</a></h6></th>
						<th><h6>required</h6></th>
						<th><h6><a ng-click="listSort('departure_location')"><span>departure</span> 
							<i class="icon" ng-class="{ASC:'i\-caret\-u', DESC:'i\-caret\-d'}[listInit.sortOrder]" ng-show="listInit.sortBy === 'departure_location'"></i>
							</a></h6></th>
						<th><h6><a ng-click="listSort('departure_date')"><span>ETD</span> 
							<i class="icon" ng-class="{ASC:'i\-caret\-u', DESC:'i\-caret\-d'}[listInit.sortOrder]" ng-show="listInit.sortBy === 'departure_date'"></i>
							</a></h6></th>
						<th><h6><a ng-click="listSort('arrival_location')"><span>arrival</span> 
							<i class="icon" ng-class="{ASC:'i\-caret\-u', DESC:'i\-caret\-d'}[listInit.sortOrder]" ng-show="listInit.sortBy === 'arrival_location'"></i>
							</a></h6></th>
						<th><h6><a ng-click="listSort('arrival_date')"><span>ETA</span> 
							<i class="icon" ng-class="{ASC:'i\-caret\-u', DESC:'i\-caret\-d'}[listInit.sortOrder]" ng-show="listInit.sortBy === 'arrival_date'"></i>
							</a></h6></th>
					</tr>
				</thead>
				<tbody>
					<tr  ng-repeat="elm in elements" ng-click="go('shipment', elm.id)" class="pointer over">
						<td><span class="label label-shipment">{{elm.reference}}</span></td>
						<td><small>{{elm.chrono}}</small></td>
						<td><small><i class="icon" ng-class="{express:'i\-transportation\-plane', air:'i\-transportation\-plane', sea:'i\-transportation\-boat', haulage:'i\-transportation\-truck'}[elm.mode]"></i></small></td>
						<td><strong><small>{{elm.milestone}}</small></strong></td>
						<td><span class="label" status="{{elm.status}}">{{elm.delay}}</span></td>
						<td><ul class="inline">
						<li ng-repeat="required in elm.required">
						<span ng-click='modalConditionOpen(elm, required, $event)' ng-disabled='!required.editable'><span class="btn btn-icon" required-status-btn><i class="icon" required-icon tooltip="{{required.name}}"></i></span></span>
						</li>
						</ul></td>
						<td><small>{{elm.departure.location}}</small></td>
						<td><small>{{elm.departure.date * 1000 | date:'dd.MM.yy, HH:mm'}}</small></td>
						<td><small>{{elm.arrival.location}}</small></td>
						<td><small>{{elm.arrival.date * 1000 | date:'dd.MM.yy, HH:mm'}}</small></td>
					</tr>
				</tbody>
				<tfoot ng-if="pagesCount>1">
					<tr>
						<td colspan="10">
						<pagination total-items="listConfig.elementsCount" page="listConfig.page" max-size="10" items-per-page="listConfig.itemsPerPage" boundary-links="true" direction-links="false" on-select-page="pageLoad(page)" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination></td>
					</tr>
				</tfoot>
			</table>
		</div> 	
	</div>
	
	<div class="row margin-top">
		<div class="col-md-12">
			<h3>global report</h3>
			<table class="table table-condensed">
				<thead>
				<tr>
					<th><h6>type </h6></th><th><h6>name</h6></th><th><h6>info</h6></th><th><h6></h6></th>
				</tr>
				</thead>
				<tbody>
					<tr>
						<td><i class="lead icon i-condition-document"></i>&nbsp;&nbsp;{{report.type}}</td>
						<td><strong>{{report.name}}</strong></td>
						<td><span class="label label-default">{{report.info}}</span></td>
						<td><a ng-href="{{report.url}}" class='btn btn-sm'>Download</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
</div>