<div class="container margin-top" ng-hide="loaded" ng-include="'partials/loader.html'" >
</div>

<div class="header" ng-show="loaded" ng-class="{order:'bg\-order', shipment:'bg\-shipment', box:'bg\-box', item:'bg\-item'}[elm.type]">
	<h1 class="container">
		<i class="icon pull-right icon-link" ng-class="{true:'i\-tracking\-tracked', false:'i\-tracking\-untracked'}[elm.tracking]" ng-click="trackingToggle(elm, $event); propertySave(elm, 'tracking', elm.tracking)" alt="tracking"></i>
		<i class="icon pull-right i-trash icon-link" ng-if="elm.deletable" ng-click='modalDeleteOpen(elm, $event)' ></i>
		<i class="icon i-element" ng-class="{order:'i\-element\-order', shipment:'i\-element\-shipment', box:'i\-element\-box', item:'i\-element\-item'}[elm.type]"></i> {{elm.type}}</h1>
</div>

<div class="container margin-top" ng-show="loaded" ng-class="{true:'anim'}[elm.anim]">
	<div class="row">
		<div class="col-md-3">
			<div class="filet">
				<h6>reference</h6>
				<h2><span class="label" ng-class="{order:'label\-order', shipment:'label\-shipment', box:'label\-box', item:'label\-item'}[elm.type]">{{elm.reference}}</span></h2>
			</div>
		</div>
		<div class="col-md-6">
			<div class="filet">
				<h6>milestone</h6>
				<h2>{{elm.milestone}}</h2>
				<span ng-repeat="milestone in elm.milestones | orderBy:'statuses[2][1]'"><i class="grey icon" ng-class="{past:'i\-disc', previous:'i\-disc', current:'i\-disc', future:'i\-circle', next:'i\-circle'}[milestone.step]" tooltip="{{milestone.name}}" tooltip-placement="top"></i></span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="filet">
				<h6>status</h6>
				<h2><span class="label" ng-class="{processing:'label\-success', upcoming:'label\-warning', late:'label\-danger', none:'hide'}[elm.status]">{{elm.delay}}</span></h2>
			</div>
		</div>
	</div>
	
	<div class="row margin-top" ng-if="elm.timeline">
		<div class="col-md-12">
			<div class="filet timeline">
				<div class="row">
					<div class="col-md-12">
						<h6>progress</h6>
					</div>
				</div>
				<div class="row">
					<div class="col-md-1"> 
						
					</div>
					<div class="col-md-3 first">
						 <h4>{{elm.timeline[0].name}}</h4>
						 <span class="timeline-desc"><i>{{elm.timeline[0].description}}</i></span>
						 <div class="timeline-bg">
						 	<div class="timeline-circle"></div>
						 	<div class="timeline-bar"></div>
						 </div>
						 <div ng-if="elm.timeline[0].anim" ng-class="{true:'timeline\-completed', false:'timeline\-active'}[elm.timeline[1].completed]">
						 	<div class="timeline-circle"></div>
						 	<div class="timeline-bar"></div>
						 </div>
					</div>
					<div class="col-md-3">
						 <h4>{{elm.timeline[1].name}}</h4>
						 <span class="timeline-desc"><i>{{elm.timeline[1].description}}</i></span>
						 <div class="timeline-bg">
						 	<div class="timeline-circle"></div>
						 	<div class="timeline-bar"></div>
						 </div>
						 <div ng-if="elm.timeline[1].anim" ng-class="{true:'timeline\-completed', false:'timeline\-active'}[elm.timeline[2].completed]">
							 <div class="timeline-circle"></div>
							 <div class="timeline-bar"></div>
						 </div>
					</div>
					<div class="col-md-3">
						 <h4>{{elm.timeline[2].name}}</h4>
						 <span class="timeline-desc"><i>{{elm.timeline[2].description}}</i></span>
						 <div class="timeline-bg">
						 	<div class="timeline-circle"></div>
						 	<div class="timeline-bar"></div>
						 </div>
						 <div ng-if="elm.timeline[2].anim" ng-class="{true:'timeline\-completed', false:'timeline\-active'}[elm.timeline[3].completed]">
						 	<div class="timeline-circle"></div>
						 	<div class="timeline-bar"></div>
						 </div>
					</div>
					<div class="col-md-2 last">
						 <h4>{{elm.timeline[3].name}}</h4>
						 <span class="timeline-desc"><i>{{elm.timeline[3].description}}</i></span>
						 <div class="timeline-bg">
						 	<div class="timeline-circle"></div>
						 	<div class="timeline-bar"></div>
						 </div>
						 <div ng-if="elm.timeline[3].anim" class="timeline-active" >
						 	<div class="timeline-circle"></div>
						 	<div class="timeline-bar"></div>
						 </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row margin-top">
		<div class="col-md-3">
			<div class="filet">
				<h6>description</h6>
				<p ng-repeat="info in elm.infos"><span ng-repeat="(key, value) in info"><strong>{{key}}:</strong> {{value}}</span></p>
				<p><img ng-src="{{elm.qrCodeGoogle}}" alt="QR code" class="clearfix"/></p>
				<p><a href="/index.php/milestones/update" target="_blank" ng-if="elm.type === 'shipment'" class="btn btn-sm">Modify</a></p>
			</div>
		</div>
		<div class="col-md-3" ng-repeat="chart in elm.charts">
			<div class="filet">
				<h6>{{chart.name}}</h6>
				<p class="type-fat" ng-style="chart.color">{{chart.value}} %</p>
				<progressbar value="chart.value" type="{{chart.label}}"></progressbar>
			</div>		
		</div>
	</div>
	
	<div class="row margin-top" ng-if="elm.required">
		<div class="col-md-12">
			<h3>conditions</h3>
			<table class="table table-condensed">
				<thead>
				<tr>
					<th><h6>type </h6></th><th><h6>name</h6></th><th><h6>status</h6></th><th><h6> </h6></th>
				</tr>
				</thead>
				<tbody>
					<tr ng-repeat="required in elm.required">
						<td><i class="lead icon" required-icon></i></td>
						<td><strong>{{required.name}}</strong></td>
						<td><span class="label label-default" status="{{elm.status}}"  required-status editable="{{required.editable}}" completed="{{required.completed}}">{{required.message}}</span></td>
						<td><button class='btn btn-sm' ng-click='modalConditionOpen(elm, required, $event)' ng-disabled='!required.editable'>Update</button></td>
					</tr>
				</tbody>
			</table>			
		</div>
	</div>
	
	
	<div class="row margin-top" ng-if="elm.documents">
		<div class="col-md-12">
			<h3>documents</h3>
			<table class="table table-condensed">
				<thead>
				<tr>
					<th><h6>type </h6></th><th><h6>name</h6></th><th><h6>info</h6></th><th><h6></h6></th>
				</tr>
				</thead>
				<tbody>
					<tr ng-repeat="document in elm.documents">
						<td><i class="lead icon i-condition-document"></i>&nbsp;&nbsp;{{document.type}}</td>
						<td><strong>{{document.name}}</strong></td>
						<td><span class="label label-default">{{document.info}}</span></td>
						<td><a ng-href="{{document.url}}" class='btn btn-sm'>Download</a></td>
					</tr>
				</tbody>
			</table>			
		</div>
	</div>
	
	<div class="row margin-top">
		<div class="col-md-12">
			<h3>schedule</h3>
			<table class="table table-condensed" ng-init="showCalendar=false">
				<thead>
					<tr>
						<th><a href="" ng-click="showCalendar=!showCalendar" class="btn btn-mini"><i class="icon" ng-class="{true:'i\-caret\-d', false:'i\-caret\-r'}[showCalendar]"></i></a></th><th><h6>milestone </h6></th><th><h6>initial</h6></th><th><h6>forecast</h6></th><th><h6>revised</h6></th><th><h6>actual</h6></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="milestone in elm.milestones | orderBy:'statuses[2][1]'" ng-class="{highlite: milestone.step=='current'}" ng-show="milestone.step=='previous' || milestone.step=='next' || milestone.step=='current' || showCalendar">
						<td>&nbsp;<i class="icon" step-icon></i></td>
						<td><span ng-class="{previous:'light', past:'light', next:'ultralight', future:'ultralight', current:'bold'}[milestone.step]">{{$index + 1}}. {{milestone.name}}</span></td>
						<td ng-repeat="status in milestone.statuses"><span class="label label-default" status="{{status[2]}}">{{status[1]*1000 | date:'dd.MM.yy' }}</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="row margin-top">
		<div class="col-md-12">
			<h3>properties</h3>
			<accordion close-others="false">
			    <accordion-group ng-repeat="group in elm.properties" is-open="group.name===currentGroup">
			    	<accordion-heading><i class="icon" ng-class="['i-property-' + group.id]"></i> {{group.name}}
			    	</accordion-heading>
					<div class="form-horizontal">
						<div class="form-group" ng-repeat="prop in group.set">
							<label class="col-xs-4 control-label">{{prop.name}}</label> 
							<span class="col-xs-4" ng-switch on="prop.type">
								<div class="input-group" ng-switch-when="text">
								  <input type="text" class="form-control" ng-model="prop.value" ng-disabled="!prop.editable">
								  <span class="input-group-btn"><button class="btn" type="button" ng-disabled="!prop.editable" ng-click="propertySave(elm, prop, group.name)">Save</button></span>
								</div>
								<div class="checkbox" ng-switch-when="checkbox">
									<label><input type="checkbox" ng-model="prop.value" ng-checked="prop.value" ng-disabled="!prop.editable" ng-change="propertySave(elm, prop, group.name)"></label>
								</div>
								<select ng-model="prop.value" ng-disabled="!prop.editable" ng-change="propertySave(elm, prop, group.name)" ng-switch-when="select" class="form-control">
									<option ng-repeat="i in prop.values" value="{{$index}}" ng-selected="$index == prop.value">{{i}}</option>
								</select>
								
								<div class="input-group" ng-switch-when="date">
									<input type="text" class="form-control" 
										datepicker-popup="dd.MM.yy HH:mm" 
										ng-model="prop.date" 
										is-open="prop.opened" 
										min="minDate" 
										date-disabled="calDisabled(date, mode)" 
										ng-disabled="!prop.editable" 
										show-weeks="false"
										ng-change="prop.value = dateToTimestamp(prop.date); propertySave(elm, prop, group.name)">
									<span class="input-group-btn"><button class="btn" ng-click="calOpen($event, prop.name)" ng-disabled="!prop.editable"><i class="icon i-condition-date"></i></button></span>
								</div>
							</span>
							<span class="col-xs-4">
								<div class="margin-top-s"><i class="icon i-infos" tooltip="{{prop.info}}" tooltip-placement="right" ng-if="prop.info"></i></div>
							</span>
							
				    	</div>
					</div>
			    </accordion-group>
			  </accordion>
		</div><!--/span-->
	</div><!--/row-->
	
	<div class="row margin-top" ng-if="elm.related" id="related">
		<div class="col-md-12">
			<h3>related</h3>
			<tabset>
			    <tab ng-repeat="related in elm.related" disabled="related.disabled" active="relatedActiveTab[related.type]">
			        <tab-heading><h4>{{related.name}} ({{related.quantity}})</h4></tab-heading>
			        <span ng-controller="ListCtrl">
			            <span ng-include="'partials/tplList.html'" onload="listInit(related.type)"></span>
			        </span>
			    </tab>
            </tabset>			
		</div>
	</div>
	
</div>