<div class="header bg-generic bg-proofOfDelivery">
	<h1 class="container">Proofs of delivery</h1>
</div>

<div class="container margin-top">
	<div class="row">
		<div class="col-md-12">
			<accordion close-others="false">
				<accordion-group>
					<accordion-heading>
						Filters
					</accordion-heading>
					<div class="row">
						<div class="col-md-4">
							<fieldset>
								<legend>Related to </legend>
								<div class="radio" ng-repeat="related in filters.related.type.values">		
									<label class="control-label">
										<input type="radio" ng-model="query.related_to" value="{{related}}"> {{related}} 
									</label>
								</div>
								<div class="form-group" ng-show="query.related_to">
									<label>Reference </label>
									<input type="text" ng-model="query.reference" class="form-control">
								</div>
							</fieldset>
						</div>
						
						<div class="col-md-4">
							<fieldset>
								<legend>User </legend>
								<select class="form-control" ng-model="query.user" ng-options="user.id as user.name for user in filters.users.values"><option value="">---</option></select>
							</fieldset>
							<fieldset>
							<legend>From </legend>
								<div class="input-group">
									<input class="form-control" type="text" datepicker-popup="dd.MM.yy" ng-model="date.from.value" is-open="date.from.opened" date-disabled="calDisabled(date, mode)" show-weeks="false" max="date.to.value" ng-change="query.date_from = dateToTimestamp(date.from.value)" />
									<span class="input-group-btn">
										<button class="btn" ng-click="calOpen($event, 'from')"><i class="fa fa-calendar"></i></button>
									</span>
								</div>
							</fieldset>
							<fieldset>
								<legend>To </legend>
								<div class="input-group">
									<input class="form-control" type="text" datepicker-popup="dd.MM.yy" ng-model="date.to.value" is-open="date.to.opened" date-disabled="calDisabled(date, mode)" show-weeks="false" min="date.from.value" ng-change="query.date_to = dateToTimestamp(date.to.value)" />
									<span class="input-group-btn">
										<button class="btn" ng-click="calOpen($event, 'to')"><i class="fa fa-calendar"></i></button>
									</span>
								</div>
							</fieldset>
						</div>
						
						<div class="col-md-4">
							<fieldset>
								<legend>Collection </legend>
								<select class="form-control" ng-model="query.collection" ng-options="collection.id as collection.name for collection in filters.collections.values"><option value="">---</option></select>
							</fieldset>
							<fieldset>
								<legend>Delivery </legend>
								<select class="form-control" ng-model="query.delivery" ng-options="delivery.id as delivery.name for delivery in filters.deliveries.values"><option value="">---</option></select>
							</fieldset>
						</div>
					</div><!--/row-->
					<button class="btn btn-block btn-lg" type="button" ng-click="search(query)">Load</button>
				</accordion-group>
			</accordion>
		</div>
	</div>
	
	<div class="row margin-top" ng-show="badges">
		<div class="col-md-12">
			<span class="badge badge-inverse" ng-repeat="badge in badges">{{badge.display}} <i class="fa fa-times pointer" ng-click="badgeRemove(badge.name)"></i></span> 
		</div>
	</div>
	
	<div class="row margin-top">
		<div class="col-md-12">
			<table class="table table-condensed" >
				<thead>
					<tr>
						<th><h6>order</h6></th><th><h6>shipment</h6></th><th><h6>user</h6></th><th><h6>created</h6></th><th><h6>collection</h6></th><th><h6>delivery</h6></th>
					</tr>
				</thead>
				<tbody>
					<tr  ng-repeat="doc in docs" class="pointer over" ng-click="go('proof-of-delivery', doc.id)" > 
						<td><span class="label label-order">{{doc.related.order.reference}}</span></td>
						<td><span class="label label-shipment">{{doc.related.shipment.reference}}</span></td>
						<td><small>{{doc.user}}</small></td>
						<td><small>{{doc.date * 1000 | date:'dd.MM.yy, HH:mm'}}</small></td>
						<td><small>{{doc.collection.company.name}}</small></td>
						<td><small>{{doc.delivery.company.name}}</small></td>
					</tr>
				</tbody>
				<tfoot ng-show="pagesCount>1">
					<tr>
						<td colspan="4">
						<pagination num-pages="pagesCount" current-page="currentPage" max-size="10" boundary-links="true" direction-links="false" on-select-page="loadList(collect(listInit, {page: page}))" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination></td>
					</tr>
				</tfoot>
			</table>	
				
			</div>
	   	
	</div>
</div>