<div class="header bg-generic">
	<h1 class="container">Guidelines</h1>
</div>

<div class="container">

	<div class="row margin-top">
		<div class="col-md-12">
			<h2 class="picto pull-right" ng-class="['picto_'+elm.type]">{{elm.type}}</h2>
			<h1>{{elm.title}}</h1>
		</div>
	</div>
	<div class="row margin-top">
		<div class="col-md-4">
			{{elm.description}}
		</div>
		<div class="col-md-8">
			<ul>
				<li ng-repeat="instruction in elm.instructions"><a ng-click="scrollTo(instruction.id)"><h4>{{$index+1 + '. ' + instruction.name}}</h4></a></li>
			</ul>
		</div>
	</div>
	
	<div class="row margin-top" ng-repeat="instruction in elm.instructions">
		<div class="col-md-12">
			<div class="elements-group">
		
				<h1>{{$index+1 + '. ' + instruction.name}}</h1>
				
				<div class="row">
					<div class="col-md-12">
						<div class="element margin-top" ng-repeat="step in instruction.steps">
							<div class="row">
								<div class="col-md-6">
									<h4>{{($parent.$index+1) + '.' + ($index+1)}} </h4>
									<p><strong>{{step.from}},</strong></p>
									<p>{{step.description}}</p>
									<p ng-if="step.elements_required_txt">{{step.elements_required_txt}}: </p>
									<ul ng-if="step.elements_required">
										<li ng-repeat="element in step.elements_required" class="filet-top">
											<div class="row">
												<div class="col-md-4">
													<h5><span class="label capitalize" ng-class="{order:'label\-order', shipment:'label\-shipment', box:'label\-box', item:'label\-item'}[element.type]">{{element.type}}</span> </h5>
												</div>
												<div class="col-md-8">
													<ul><li ng-repeat="required in element.conditions"><h5><span class="label label-neutral"><i class="fa" required-icon></i> {{required.name}}</span> <a ng-href="guidelines/{{required.guideline.url.page + '#' + required.guideline.url.anchor}}" ng-if="!!required.guideline"><i class="fa fa-question-circle" tooltip="{{required.guideline.name}}" tooltip-placement="right"></i></a></h5></li></ul>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<div class="col-md-6">
									<img ng-src="img/guidelines/{{step.img}}" class="img-responsive img-thumbnail">
								</div>
							</div>
						</div>
						<div class="border-top elements-group-bg margin-top" id="{{elm.instructions[$index+1].id}}">
							<p class="margin-no"><a ng-click="scrollTo('top')"><small>Back to top</small></a></p>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

</div>

