<div class="header bg-generic">
	<h1 class="container">Guidelines</h1>
</div>

<div class="container">

	<div class="row margin-top">
		<div class="col-md-12">
			<h1>Process overview</h1>
		</div>
	</div>
	
	<div class="row margin-top">
		<div class="col-md-4">
			<p>This diagram shows the whole logistics process, step by step, from the creation of an order to the delivery at the client.</p>
			<p>Use the filters below to select the informations displayed in this page. </p>
		</div>
		<div class="col-md-8">
			<div class="row" ng-repeat="elm in elms">
				<div class="col-md-12">
					<a ng-click="scrollTo(elm.id)"><h4>{{elm.step}}. {{elm.name}}</h4></a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row margin-top" id="{{elms[0].id}}">
		<div class="col-md-12">	
			<accordion close-others="false">
				<accordion-group>
					<accordion-heading>
						Filters
					</accordion-heading>
					<div class="row">
						<div class="col-md-4">
							<fieldset>
								<legend>Informations type </legend>
								<div class="checkbox">
									<label>
										<input type="checkbox" ng-model="display.processing"> Milestones
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox" ng-model="display.downloads"> Downloads
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox" ng-model="display.interactions"> Interactions
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox" ng-model="display.updates"> Updates
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox" ng-model="display.updates_mobile"> Updates from mobile
									</label>
								</div>
							</fieldset>
						</div>
						
						<div class="col-md-4">
							<fieldset>
								<legend>Locations</legend>
								<div class="checkbox">
									<label>
										<input type="checkbox" ng-model="location.na"> Location n/a
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox" ng-model="location.vendor"> At the vendor
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox" ng-model="location.tohub"> Transport to the hub
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox" ng-model="location.hub"> At the hub
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox" ng-model="location.fromhub"> Transport from the hub
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox" ng-model="location.port"> At the port / airport
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox" ng-model="location.toclient"> Transport to the client
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox" ng-model="location.client"> At the client
									</label>
								</div>
							</fieldset>
						</div>
						
						<div class="col-md-4">
							
							
						</div>
					</div><!--/row-->
				</accordion-group>
			</accordion>
		</div>
	</div>

	<div class="row margin-top" ng-repeat="elm in elms | filter:filterFn">
			<div class="col-md-12">
				<div class="elements-group">
				
					<!-- title -->
					
					<div class="elements-group-bg">
					
						<h1>{{elm.step}}. {{elm.name}}</h1>
						<h4>{{elm.location}}</h4>
						<p>{{elm.description}}</p>
						
					</div>
					
					<!-- Step milestones -->
					
					<div class="bg-stripped elements-group-bg margin-top border-top" ng-if="!!elm.processing" ng-show="display.processing">
						<div class="row">
							<div class="col-md-12">
								<h6 class="margin-no">Milestones</h6>
							</div>
						</div>
						
						<div class="row">
											
							<div class="col-md-3" ng-class="{false:'mobile\-hide'}[!!elm.processing[type]]" ng-repeat="type in types">
								<div class="element margin-top" ng-if="!!elm.processing[type]">
									<h5><span class="label capitalize" ng-class="{order:'label\-order', shipment:'label\-shipment', box:'label\-box', item:'label\-item'}[type]">{{type}} </span> <span class="badge badge-parent" ng-if="elm[type].parent">Parent</span></h5>
									<div ng-if="!!elm.processing[type].milestone" class="margin-top">
										<h6>milestone</h6>
										<h2>{{elm.processing[type].milestone.name}}</h2>
										<p><small>{{elm.processing[type].milestone.description}}</small></p>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					
					<!-- downloads -->
					
					<div class="elements-group-bg border-top elements-download margin-top" ng-if="!!elm.downloads" ng-show="display.downloads">
					
						<div class="row">
							<div class="col-md-12">
								<h6 class="margin-no">Downloads</h6>
							</div>
						</div>
						
						<div class="row">
							
							<div class="col-md-3" ng-class="{false:'mobile\-hide'}[!!elm.downloads[type]]" ng-repeat="type in types">
								<div class="element margin-top" ng-if="!!elm.downloads[type]">
									<h5><span class="label capitalize" ng-class="{order:'label\-order', shipment:'label\-shipment', box:'label\-box', item:'label\-item'}[type]">{{type}} </span></h5>
									<div ng-if="!!elm.downloads[type].documents" class="margin-top">
										<h6>documents</h6>
										<div ng-repeat="required in elm.downloads[type].documents">
											<h5><span class="label label-neutral"><i class="fa" required-icon></i> {{required.name}}</span> <a ng-href="guidelines/{{required.guideline.url.page + '#' + required.guideline.url.anchor}}" ng-if="!!required.guideline"><i class="fa fa-question-circle" tooltip="{{required.guideline.name}}" tooltip-placement="right"></i></a></h5>
											<p><small>{{required.description}}</small></p>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>						
					
					<!-- Step interactions -->
					
					<div  class="elements-group-bg border-top margin-top" ng-if="!!elm.interactions" ng-show="display.interactions">
					
						<div class="row margin-bottom-s">
							<div class="col-md-12">
								<h6>Interactions</h6>
							</div>
						</div>
					
						<div class="row" ng-repeat="action in elm.interactions" ng-class="{int_to:'plan\-left\-arrow', ext_to:'plan\-right\-arrow', ext:'plan\-right', undefined:'plan\-left'}[action.type]">
							<div class="col-md-3 bloc1"><div class="center" ng-if="!!action.origin">
								<h2 class="picto center" ng-class="['picto_'+action.origin.type]">{{action.origin.company}}</h2></div>
							</div>
							<div class="col-md-6 bloc2">
								<div class="action-label" ng-if="!!action.conditions || !!action.name">
									<h5>{{action.name}}</h5>
									<h5 ng-repeat="required in action.conditions"><div class="label label-neutral"><i class="fa" required-icon></i> {{required.name}}</div></h5>
								</div>
								<div class="center margin-top-l border-bottom" ng-if="!!action.element">
									<h2><span class="label" ng-class="{order:'label\-order', shipment:'label\-shipment', box:'label\-box', item:'label\-item'}[action.element]">{{action.element}} </span></h2>
								</div>
							</div>
							<div class="col-md-3 bloc3">
								
							</div>
						</div>
						
					</div>
					
					<!-- updates -->
					
					<div class="border-top elements-group-bg elements-update margin-top" ng-if="!!elm.updates" ng-show="display.updates">
					
						<div class="row">
							<div class="col-md-12">
								<h6 class="margin-no">Updates</h6>
							</div>
						</div>
						
						<div class="row">
							
							<div class="col-md-3" ng-class="{false:'mobile\-hide'}[!!elm.updates[type]]" ng-repeat="type in types">
								<div class="element margin-top" ng-if="!!elm.updates[type]">
									<h5><span class="label capitalize" ng-class="{order:'label\-order', shipment:'label\-shipment', box:'label\-box', item:'label\-item'}[type]">{{type}} </span></h5>
									<div ng-if="!!elm.updates[type].conditions" class="margin-top">
										<h6>conditions</h6>
										<div ng-repeat="required in elm.updates[type].conditions">
											<h5><span class="label label-neutral"><i class="fa" required-icon></i> {{required.name}}</span> <a ng-href="guidelines/{{required.guideline.url.page + '#' + required.guideline.url.anchor}}" ng-if="!!required.guideline"><i class="fa fa-question-circle" tooltip="{{required.guideline.name}}" tooltip-placement="right"></i></a></h5>
											<p><small>{{required.description}}</small></p>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
					
					<!-- updates from mobile -->
										
					<div class="border-top elements-group-bg elements-update margin-top" ng-if="!!elm.updates_mobile" ng-show="display.updates_mobile">
					
						<div class="row">
							<div class="col-md-12">
								<h6 class="margin-no">Updates from mobile</h6>
							</div>
						</div>
						
						<div class="row">
							
							<div class="col-md-3" ng-class="{false:'mobile\-hide'}[!!elm.updates_mobile[type]]" ng-repeat="type in types">
								<div class="element margin-top" ng-if="!!elm.updates_mobile[type]">
									<h5><span class="label capitalize" ng-class="{order:'label\-order', shipment:'label\-shipment', box:'label\-box', item:'label\-item'}[type]">{{type}} </span></h5>
									<div ng-if="!!elm.updates_mobile[type].conditions" class="margin-top">
										<h6>conditions</h6>
										<div ng-repeat="required in elm.updates_mobile[type].conditions">
											<h5><span class="label label-neutral"><i class="fa" required-icon></i> {{required.name}}</span> <a ng-href="guidelines/{{required.guideline.url.page + '#' + required.guideline.url.anchor}}" ng-if="!!required.guideline"><i class="fa fa-question-circle" tooltip="{{required.guideline.name}}" tooltip-placement="right"></i></a></h5>
											<p><small>{{required.description}}</small></p>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
					
					<div class="border-top elements-group-bg margin-top" id="{{elms[$index+1].id}}">
						<p class="margin-no"><a ng-click="scrollTo('top')"><small>Back to top</small></a></p>
					</div>
				</div>
			</div>
		</div>			

</div><!-- /container-->