<div class="header bg-generic">
	<h1 class="container"></i> Static pages</h1>
</div>
<div class="container margin-top">
	<div class="row">
		<div class="col-md-3">
			<h3>Dashboard</h3>
			<ul>
				<li><a href="dashboard?static=true">Dashboard</a></li> 
				<li><a href="tv?static=true">Tv</a></li> 
				<li><a href="alerts?static=true">Alerts</a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<h3>Tracking</h3>
			<ul>
				<li><a href="tracking?static=true">Overview</a></li> 
				<li><a href="shipment/static">Shipment</a></li> 
				<li><a href="item/static">Item</a></li> 
				<li><a href="indicators?static=true">Indicators</a><br></li>
			</ul>
		</div>
		<div class="col-md-3">
			<h3>Documents</h3>
			<ul>
				<li><a href="documents/ir?static=true">Inspection reports</a></li> 
				<li><a href="documents/ncr?static=true">Non-compliance reports</a></li> 
				<li><a href="documents/pod?static=true">Proofs of delivery</a></li> 
				<li><a href="documents/archive?static=true">Archives</a></li>
				<li><a href="documents/media?static=true">Medias</a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<h3>Warehouses</h3>
			<ul>
				<li><a href="warehouses?static=true">Warehouses</a></li>
				<li><a href="warehouses/static">Warehouse</a></p></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h3>bugs</h3>
			<ul>
				<li><p class="static-links"><a href="bug">Bugs</a></p></li>
			</ul>
		</div>
		<div class="col-md-3">
			
		</div>
		<div class="col-md-3">
			
		</div>
		<div class="col-md-3">
			
		</div>
	</div>
</div>



