<div class="header bg-generic">
	<h1 class="container"></i> Static pages</h1>
</div>
<div class="container margin-top">
	<div class="row">
		<div class="col-md-12">
			<p class="static-links margin-top"><br />
				<a href="dashboard?static=true">Dashboard</a> / 
				<a href="tv?static=true">Tv</a> / 
				<a href="tracking?static=true">Tracking</a> / 
				<a href="shipment/static">Element</a> / 
				<a href="indicators?static=true">Indicators</a><br />
				<a href="documents/ir?static=true">Inspection reports</a> / 
				<a href="documents/ncr?static=true">Non-compliance reports</a> / 
				<a href="documents/pod?static=true">Proofs of delivery</a> / 
				<a href="documents/archive?static=true">Archives</a> /
				<a href="documents/media?static=true">Medias</a> /
				<a href="alerts?static=true">Alerts</a>/
				<a href="warehouses?static=true">Warehouses</a></p>
			<p class="static-links"><a href="bug">Bugs</a></p>
		</div>
	</div>
</div>



