<div class="header bg-generic">
	<h1 class="container"></i> Static pages</h1>
</div>
<div class="container margin-top">
	<div class="row">
		<div class="col-md-12">
			<h2>Logistics</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h3>Dashboards</h3>
			<ul>
				<li><a href="dashboard?static=true">Dashboard</a></li> 
				<li><a href="tv?static=true">Tv</a></li> 
			</ul>
		</div>
		<div class="col-md-3">
			<h3>Tracking</h3>
			<ul>
				<li><a href="tracking?static=true">Overview</a></li> 
				<li><a href="shipment/static">Shipment</a></li> 
				<li><a href="item/static">Item</a></li> 
			</ul>
		</div>
		<div class="col-md-3">
			<h3>Documents</h3>
			<ul>
				<li><a href="documents/ir?static=true">Inspection reports</a></li> 
				<li><a href="documents/ncr?static=true">Non-compliance reports</a></li> 
				<li><a href="documents/pod?static=true">Proofs of delivery</a></li> 
				<li><a href="documents/archive?static=true">Archives</a></li>
				<li><a href="documents/media?static=true">Medias</a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<h3>Reporting</h3>
			<ul>
				<li><a href="indicators?static=true">Indicators</a><br></li>
				<li><a href="alerts?static=true">Alerts</a></li>
			</ul>
		</div>
	</div>
	<div class="row margin-top">
		<div class="col-md-12">
			<h2>Stock</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h3>Warehouses</h3>
			<ul>
				
				<li><a href="stock/warehouses?static=true">Overview</a></li>
				<li><a href="stock/warehouses/static">Warehouse</a></p></li> 
			</ul>
		</div>
		<div class="col-md-3">
			<h3>Items</h3>
			<ul>
				<li><a href="stock/items?static=true">Items</a></li>
				<li><a href="stock/items/static">Item </a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<h3>listings</h3>
			<ul>
				<li><a href="stock/replenishments?static=true">Replenishments</a></li>
				<li><a href="stock/movements?static=true">Movements</a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<h3>reporting</h3>
			<ul>
				<li><a href="stock/indicators?static=true">Indicators</a></li>
			</ul>
		</div>
	</div>
	<div class="row margin-top">
		<div class="col-md-12">
			<h2>Bugs</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<ul>
				<li><a href="bug">Bugs</a></p></li>
			</ul>
		</div>
		<div class="col-md-3">
			
		</div>
		<div class="col-md-3">
			
		</div>
		<div class="col-md-3">
			
		</div>
	</div>
</div>



