<div class="container margin-top" ng-hide="loaded" ng-include="'partials/loader.html'" >
</div>
<table class="table table-condensed" ng-show="loaded">
	<thead>
		<tr>
			<th><h6><a ng-click="listSort('reference')"><span>reference</span> 
				<i class="icon" ng-class="{ASC:'i\-caret\-u', DESC:'i\-caret\-d'}[listInit.sortOrder]" ng-show="listInit.sortBy === 'reference'"></i>
				</a></h6></th>
			<th ng-if="colmunChrono"><h6><a ng-click="listSort('chrono')"><span>chrono</span>
				<i class="icon" ng-class="{ASC:'i\-caret\-u', DESC:'i\-caret\-d'}[listInit.sortOrder]" ng-show="listInit.sortBy === 'chrono'"></i>
				</a></h6></th>
			<th><h6><a ng-click="listSort('milestone')"><span>milestone</span>
				<i class="icon" ng-class="{ASC:'i\-caret\-u', DESC:'i\-caret\-d'}[listInit.sortOrder]" ng-show="listInit.sortBy === 'milestone'"></i>
				</a></h6></th>
			<th><h6><a ng-click="listSort('status')"><span>status</span>
				<i class="icon" ng-class="{ASC:'i\-caret\-u', DESC:'i\-caret\-d'}[listInit.sortOrder]" ng-show="listInit.sortBy === 'status'"></i>
				</a></h6></th>
			<th><h6>conditions</h6></th>
			<th ng-if="trackingShow"><h6>tracking</h6></th>
		</tr>
	</thead>
	<tbody>
		<tr  ng-repeat="elm in elements" ng-click="go(elm.type, elm.id)" class="pointer over">
			<td><span class="label" ng-class="{order:'label\-order', shipment:'label\-shipment', box:'label\-box', item:'label\-item'}[elm.type]">{{elm.reference}}</span></td>
			<td ng-if="colmunChrono"><small>{{elm.chrono}}</small></td>
			<td><strong><small>{{elm.milestone}}</small></strong></td>
			<td><span class="label" status="{{elm.status}}">{{elm.delay}}</span></td>
			<td><ul class="inline">
			<li ng-repeat="required in elm.required">
			<span ng-click='modalConditionOpen(elm, required, $event)' ng-disabled='!required.editable'><span class="btn btn-icon" required-status-btn><i class="icon" required-icon tooltip="{{required.name}}"></i></span></span>
			</li>
			</ul></td>
			<td ng-if="trackingShow"><i class="icon" ng-class="{true:'i\-tracking\-tracked', false:'i\-tracking\-untracked'}[elm.tracking]" ng-click="trackingToggle(elm, $event); propertySave(elm, 'tracking', '')" alt="tracking"></i></td>
		</tr>
	</tbody>
	<tfoot ng-if="listConfig.pagesCount>1">
		<tr>
			<td colspan="{{columns}}">
			<pagination total-items="listConfig.elementsCount" page="listConfig.page" max-size="10" items-per-page="listConfig.itemsPerPage" boundary-links="true" direction-links="false" on-select-page="pageLoad(page)" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination></td>
		</tr>
	</tfoot>
</table>