<div class="margin-top" ng-hide="loaded" ng-include="'partials/loader.html'" >
</div>

<div ng-show="loaded">

	<div class="row hide">
	    <div class="col-md-6">
	    	<pre><small>
filters.date: {{filters.date | json}}
	    	</small></pre>
	    </div>
	    <div class="col-md-6">
	    	<pre><small>
list.pagination: {{list.pagination | json}}
			</small></pre>
	    </div><!--/col-->
	</div><!--/row-->
	<div class="row margin-top-s" ng-if="list.display.filters">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<accordion close-others="true">
					    <accordion-group is-open="filters.tmp.filtersOpen">
					    	<accordion-heading>
					    		Filters
					    	</accordion-heading>
					
							<div class="row">
							
								<div class="col-md-4">
									<fieldset>
										<legend>Reference </legend>
										<input type="text" ng-model="list.urlParams.reference" class="form-control">
									</fieldset>
								</div>
								
								<div class="col-md-4">
									<fieldset>
										<legend>Milestone </legend>
										<div class="form-group">
											<label class="control-label">Name</label>
											<select class="form-control" ng-model="list.urlParams.milestone_name" ng-options="name for name in filters.values.milestones"><option value="">---</option></select>
										</div>
										<fieldset ng-show="list.urlParams.milestone_name">
											<div class="form-group">
												<label class="control-label">Planning</label>
												<select ng-model="list.urlParams.milestone_planning" ng-options="planning for planning in filters.values.plannings" class="form-control"><option value="">---</option></select>
											</div>
											<span ng-show="list.urlParams.milestone_planning == 'actual' || list.urlParams.milestone_planning == 'revised'">
												<div class="form-group">
													<label class="control-label">Status</label>
													<select ng-model="list.urlParams.milestone_status" ng-options="status for status in filters.values.statuses" class="form-control"><option value="">---</option></select>
												</div>
											</span>
											<span ng-show="list.urlParams.milestone_planning">
												<div class="form-group">
													<label class="control-label">From</label>
													<div class="input-group">
														<input class="form-control" type="text" datepicker-popup="dd.MM.yy" ng-model="filters.date.milestone_from.value" is-open="filters.date.milestone_from.opened" show-weeks="false" max="filters.date.milestone_to.value" ng-change="list.urlParams.milestone_from = dateToTimestamp(filters.date.milestone_from.value)" />
														<span class="input-group-btn">
															<button class="btn" ng-click="calOpen($event, 'milestone_from')"><i class="icon i-condition-date"></i></button>
														</span>
													</div>
												</div>
												<div class="form-group">
													<label class="control-label">To</label>
													<div class="input-group">
														<input class="form-control" type="text" datepicker-popup="dd.MM.yy" ng-model="filters.date.milestone_to.value" is-open="filters.date.milestone_to.opened" show-weeks="false" min="filters.date.milestone_from.value" ng-change="list.urlParams.milestone_to = dateToTimestamp(filters.date.milestone_to.value)" />
														<span class="input-group-btn">
															<button class="btn" ng-click="calOpen($event, 'milestone_to')"><i class="icon i-condition-date"></i></button>
														</span>
													</div>
												</div>
											</span>
										</fieldset>
									</fieldset>
								</div>
								
								<div class="col-md-4">
									<fieldset>
										<legend>Property </legend>
										<div class="form-group">
											<label class="control-label">Name</label>
											<select class="form-control" ng-model="filters.tmp.property" ng-options="prop as prop.name group by prop.group for prop in filters.values.properties track by prop.name" ng-change="list.urlParams.property_name = filters.tmp.property.name">
												<option value="">---</option>
											</select>
										</div>
										<span ng-switch="filters.tmp.property.type">
											<div class="form-group" ng-switch-when="select">
												<div class="form-group">
													<label class="control-label">{{list.urlParams.property_name}}</label>
													<select class="form-control" ng-model="list.urlParams.property_value" ng-options="value for value in filters.tmp.property.values">
														<option value="">---</option>
													</select>
												</div>
											</div>
											<div class="form-group" ng-switch-when="text">
												<label class="control-label">{{list.urlParams.property_name}}</label>
												<input class="form-control" type="text" ng-model="list.urlParams.property_value">
											</div>
											<span ng-switch-when="date">
												<div class="form-group">
													<label class="control-label">From</label>
													<div class="input-group">
														<input class="form-control" type="text" datepicker-popup="dd.MM.yy" ng-model="filters.date.property_from.value" is-open="filters.date.property_from.opened" show-weeks="false" max="filters.date.property_to.value" ng-change="list.urlParams.property_from = dateToTimestamp(filters.date.property_from.value)" />
														<span class="input-group-btn">
															<button class="btn" ng-click="calOpen($event, 'property_from')"><i class="icon i-condition-date"></i></button>
														</span>
													</div>
												</div>
												<div class="form-group">
													<label class="control-label">To</label>
													<div class="input-group">
														<input class="form-control" type="text" datepicker-popup="dd.MM.yy" ng-model="filters.date.property_to.value" is-open="filters.date.property_to.opened" show-weeks="false" min="filters.date.property_from.value" ng-change="list.urlParams.property_to = dateToTimestamp(filters.date.property_to.value)" />
														<span class="input-group-btn">
															<button class="btn" ng-click="calOpen($event, 'property_to')"><i class="icon i-condition-date"></i></button>
														</span>
													</div>
												</div>
											</span>
										</span>
									</fieldset>
								</div>
								
							</div>
							
							<div class="row">
							    <div class="col-md-12">
									<button class="btn btn-block btn-lg btn-default" type="button" ng-click="listQuery(list.urlParams, list.id)">Load</button>
								</div>
							</div>
						
						</accordion-group>
						<accordion-group is-open="filters.tmp.ModificationsOpen" ng-if="list.display.modifications">
					    	<accordion-heading>
					    		Modifications
					    	</accordion-heading>
					
							<div class="row">
								<div class="col-md-4">
									<legend>Selection </legend>
									<a class="btn btn-default btn-xs" ng-click="selectionAll(list.elements)">All</a>
									<a class="btn btn-default btn-xs" ng-click="selectionNone(list.elements)">None</a>
									<a class="btn btn-default btn-xs" ng-click="selectionInverse(list.elements)">Inverse</a>
								</div>
								<div class="col-md-8">
									<legend>Property </legend>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label">Name</label>
												<select class="form-control" ng-model="filters.tmp.propertyUpdate" ng-options="prop as prop.name group by prop.group for prop in filters.values.properties track by prop.name">
													<option value="">---</option>
												</select>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label">{{filters.tmp.propertyUpdate.name}}</label>
												<span ng-switch="filters.tmp.propertyUpdate.type">
													<select class="form-control" ng-model="filters.tmp.propertyUpdate.value" ng-options="value for value in filters.tmp.propertyUpdate.values"  ng-switch-when="select">
														<option value="">---</option>
													</select>
													<input class="form-control" type="text" ng-model="filters.tmp.propertyUpdate.value" ng-switch-when="text">
													<div class="input-group" ng-switch-when="date">
														<input class="form-control" type="text" datepicker-popup="dd.MM.yy" ng-model="filters.date.propertyUpdate.value" is-open="filters.date.propertyUpdate.opened" show-weeks="false" ng-change="filters.tmp.propertyUpdate.value = dateToTimestamp(filters.date.propertyUpdate.value)" />
														<span class="input-group-btn">
															<button class="btn" ng-click="calOpen($event, 'propertyUpdate')"><i class="icon i-condition-date"></i></button>
														</span>
													</div>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
							    <div class="col-md-12">
									<button class="btn btn-block btn-lg btn-default" type="button" ng-click="listPropertySave(list, filters.tmp.selection, filters.tmp.propertyUpdate)" ng-disabled="filters.tmp.selection.length < 1">Modify</button>
								</div>
							</div>
							
						</accordion-group>
						
					</accordion>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<span class="badge badge-inverse" ng-repeat="badge in filters.badges">{{badge.name}} <i class="icon i-cross pointer" ng-click="badgeRemove(badge.id)"></i></span> 
				</div>
			</div>
		</div>
	</div>
	
	<table class="table table-condensed" ng-if="list.elements">
		<thead>
			<tr>
				<th ng-if="list.display.modifications"></th>
				<th><h6><a ng-click="listSort('reference')"><span>reference</span> 
					<i class="icon" ng-class="{ASC:'i\-caret\-u', DESC:'i\-caret\-d'}[list.urlParams.sortOrder]" ng-show="list.urlParams.sortBy === 'reference'"></i>
					</a></h6></th>
				<th ng-if="colmunChrono"><h6><a ng-click="listSort('chrono')"><span>chrono</span>
					<i class="icon" ng-class="{ASC:'i\-caret\-u', DESC:'i\-caret\-d'}[list.urlParams.sortOrder]" ng-show="list.urlParams.sortBy === 'chrono'"></i>
					</a></h6></th>
				<th><h6><a ng-click="listSort('milestone')"><span>milestone</span>
					<i class="icon" ng-class="{ASC:'i\-caret\-u', DESC:'i\-caret\-d'}[list.urlParams.sortOrder]" ng-show="list.urlParams.sortBy === 'milestone'"></i>
					</a></h6></th>
				<th><h6><a ng-click="listSort('status')"><span>status</span>
					<i class="icon" ng-class="{ASC:'i\-caret\-u', DESC:'i\-caret\-d'}[list.urlParams.sortOrder]" ng-show="list.urlParams.sortBy === 'status'"></i>
					</a></h6></th>
				<th><h6>conditions</h6></th>
				<th ng-if="display.tracking"><h6>tracking</h6></th>
			</tr>
		</thead>
		<tbody>
			<tr  ng-repeat="elm in list.elements" ng-click="go(elm.type, elm.id)" class="pointer over">
				<td ng-if="list.display.modifications"><input type="checkbox" ng-click="stopPropagation($event); selectionToggle(elm.id)" ng-checked="filters.tmp.selection.indexOf(elm.id) > -1" value="elm.id"></td>
				<td><span class="label" ng-class="{order:'label\-order', shipment:'label\-shipment', box:'label\-box', item:'label\-item'}[elm.type]">{{elm.reference}}</span></td>
				<td ng-if="colmunChrono"><small>{{elm.chrono}}</small></td>
				<td><strong><small>{{elm.milestone}}</small></strong></td>
				<td><span class="label" status="{{elm.status}}">{{elm.delay}}</span></td>
				<td><ul class="inline">
				<li ng-repeat="required in elm.required">
				<span ng-click='modalConditionOpen(elm, required, $event)' ng-disabled='!required.editable'><span class="btn btn-icon" required-status-btn><i class="icon" required-icon tooltip="{{required.name}}"></i></span></span>
				</li>
				</ul></td>
				<td ng-if="display.tracking"><i class="icon" ng-class="{true:'i\-tracking\-tracked', false:'i\-tracking\-untracked'}[elm.tracking]" ng-click="trackingToggle(elm, $event); propertySave(elm, 'tracking', elm.tracking)" alt="tracking"></i></td>
			</tr>
		</tbody>
	</table>
	
	<div ng-if="list.pagination.pagesCount>1">
		<pagination total-items="list.pagination.elementsCount" page="list.pagination.page" max-size="10" items-per-page="list.pagination.itemsPerPage" boundary-links="true" direction-links="false" on-select-page="listPaginate(page)" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
	</div>
	
	<div class="row" ng-if="!list.elements.length">
	    <div class="col-md-12">
	    	No results. 
	    </div>
	</div>
</div>