<div class="modal-header">
	<h3>condition</h3>
</div>
<div class="modal-body">
	<h4><i class="lead icon" required-icon></i> {{required.name}}</h4>
	<div ng-switch on="required.type">
		<label class="form-horizontal" ng-switch-when="text">
			<input type="text" ng-model="required.value">
		</label>
		<label class="form-horizontal" ng-switch-when="imi">
			{{required.value}}
		</label>
		<label class="checkbox" ng-switch-when="checkbox" >
			<input type="checkbox" ng-model="required.value" ng-checked="required.value"> {{required.name}}
		</label>
		<div ng-switch-when="date">
			<div ng-model="required.dt">
			        <datepicker show-weeks="false"></datepicker>
			</div>
			<fieldset disabled>
			    <div class="form-group">
			      <label for="disabledTextInput">Selected date</label>
			      <input type="text" id="disabledTextInput" class="form-control" placeholder="{{ required.dt | date:'dd.MM.yyyy' }}">
			    </div>
			</fieldset>
        </div>
        <button ng-switch-when="email" class="btn btn-large" type="button">Send e-mail</button>
        
       <div ng-switch-when="upload">
       	<input type="text" ng-model="myModelObj">
       		<input type="file" ng-file-select="onFileSelect($files)" >
       		<button ng-click="upload.abort()">Cancel Upload</button>
       </div>
         <div ng-switch-when="link"><a class="btn btn-large" href="" ng-click="go(elm.type, elm.id, required.value); requiredClose()">View</a></div>
         
	</div>
</div>
<div class="modal-footer">
	<button class="btn cancel" ng-click="requiredCancel()">Cancel</button>
	<button class="btn" ng-click="requiredSave(elm, required); requiredClose()" ng-hide="required.type==='link' || required.type==='imi'">Save</button>
</div>