<div class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Alert delete</h4>
			</div>
			<div class="modal-body">
				<p>You are about to delete this alert: </p>
				<p class="type-bold">{{alert.name}}</p>
				<p>Process with care, this operation can not be canceled. </p>     
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="$hide()">Cancel</button>
				<button type="button" class="btn btn-primary" ng-click="alertDelete(alertCurrent)">Confirm deletion</button>
			</div>
		</div>
	</div>
</div>