<div class="header bg-shipment">
	<h1 class="container">Shipments</h1>
</div>

<div class="container margin-top" ng-hide="loaded" ng-include="'core/html/loader.html'" >
</div>

<div class="container margin-top" ng-show="loaded">
	<div class="row">
		<div class="col-md-12">			
				<table class="table table-condensed" >
					<thead>
						<tr>
							<th><h6>reference</h6></th>
							<th><h6>chrono</h6></th>
							<th><h6>mode</h6></th>
							<th><h6>milestone</h6></th>
							<th><h6>conditions</h6></th>
							<th><h6>departure</h6></th>
							<th><h6>ETD</h6></th>
							<th><h6>arrival</h6></th>
							<th><h6>ETA</h6></th>
						</tr>
					</thead>
					<tbody>
						<tr  ng-repeat="elm in list" ng-click="go('shipment', elm.id)" class="pointer over list-anim">
							<td><span class="label label-shipment">{{elm.reference}}</span></td>
							<td class="limit"><small>{{elm.chrono}}</small></td>
							<td><small><i class="icon" ng-class="{express:'i\-transportation\-plane', air:'i\-transportation\-plane', sea:'i\-transportation\-boat', haulage:'i\-transportation\-truck'}[elm.mode]"></i></small></td>
							<td><small>{{elm.milestone}}</small></td>
							<td><ul class="inline">
								<li ng-repeat="condition in elm.required" ng-controller="TransportElementModalConditionCtrl">
									<span ng-click='conditionModalOpen($event)' ng-disabled='!condition.editable'><span class="btn btn-icon" condition-status-btn><i class="icon" condition-icon bs-tooltip="condition.name"></i></span></span>
								</li>
							</ul></td>
							<td class="limit"><small>{{elm.departure.location}}</small></td>
							<td><small>{{elm.departure.date * 1000 | date:'dd.MM.yy'}}</small></td>
							<td><small>{{elm.arrival.location}}</small></td>
							<td><small>{{elm.arrival.date * 1000 | date:'dd.MM.yy'}}</small></td>
						</tr>
					</tbody>
				</table>
				
			</div>
	</div>
</div>
	
<div class="bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<ul>
					<li ng-repeat="alert in alerts | filter:{ index: alertCurrent }" class="alert-anim">
						<div class="elements-group bg-default" ng-class="{info:'bg-info', error:'bg-error', warning:'bg-warning', success:'bg-success'}[alert.status]">
							<div class="row">
							
								<div class="col-md-4">
									<div class="element">										
										<h6>related to </h6>
										<h5><span class="label" ng-class="{order: 'label-order', shipment:'label-shipment', box:'label-box', item:'label-item'}[alert.related.type]">{{alert.related.reference}}</span></h5>
										
										<h6>by</h6>
										<p>{{alert.user.first_name}} {{alert.user.name}}</p>
								
										<h6>date</h6>
										<p>{{alert.dates.modified * 1000 | date:'dd.MM.yy, HH:mm'}}</p>
										
									</div>
								</div>
			
								<div class="col-md-8 aa-text">
									<h2 class="type-bold">
										{{alert.name}}</h2>
									<p class="lead">{{alert.info}}</p>
								</div>
							
							</div>
						</div>
					</li>
				</ul>			
			</div>
			<div class="col-md-3">
			</div>
		</div>
	</div>
</div>


