<div class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{title}}</h4>
			</div>
			<div class="modal-body">
				<label class="form-horizontal">
					Message <input type="text" ng-model="comment.message">
				</label>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="$hide()">Cancel</button>
				<button type="button" class="btn btn-default" ng-click="ncrMessageSave()">Save</button>
			</div>
		</div>
	</div>
</div>