<div class="header bg-generic bg-nonCompliantReport">
	<h1 class="container"><i class="icon i-document-ncr"></i> Non-conformity report</h1>
</div>

<div class="container margin-top" ng-hide="loaded" ng-include="'core/html/loader.html'" >
</div>

<div class="container margin-top" ng-show="loaded">
	<div class="row margin-top">
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-12">
					<div class="filet">
						<h6>order reference</h6>
						<h2><span class="label label-order">{{doc.related.order.reference}}</span> <a class="btn" ng-href="order/{{doc.related.order.id}}" alt="Order details"><i class="icon i-external-link"></i></a></h2>
					</div>
				</div>
			</div>
			<div class="row margin-top">
				<div class="col-md-12">
					<div class="filet">
						<h6>shipment reference</h6>
						<h2><span class="label label-shipment">{{doc.related.shipment.reference}}</span> <a class="btn" ng-href="shipment/{{doc.related.shipment.id}}" alt="Shipment details"><i class="icon i-external-link"></i></a></h2>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-12">
					<div class="filet">
						<h6>location</h6>
						<h2>{{doc.location}}</h2>
					</div>
				</div>
			</div>
			<div class="row margin-top">
				<div class="col-md-12">
					<div class="filet">
						<h6>user</h6>
						<h2>{{doc.user.first_name + " " + doc.user.last_name }}</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-12">
					<div class="filet">
						<h6>created</h6>
						<h2>{{doc.dates.created * 1000 | date:'dd.MM.yy, HH:mm'}}</h2>
					</div>
				</div>
			</div>
			<div class="row margin-top">
				<div class="col-md-12">
					<div class="filet">
						<h6>modified</h6>
						<h2>{{doc.dates.modified * 1000 | date:'dd.MM.yy, HH:mm'}}</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-12">
					<div class="filet">
						<h6>status</h6>
						<h2><i class="icon i-disc" ng-class="{late:'important', open:'warning', closed:'success'}[doc.status]"></i> {{doc.status}}</h2>
					</div>
				</div>
			</div>
			<div class="row margin-top">
				<div class="col-md-12">
					<div class="filet">
						<h6>cause</h6>
						<h2>{{doc.cause}}</h2>
					</div>
				</div>
			</div>
		</div>		
	</div>
	
	<div class="row margin-top">
		<div class="col-md-12">
			<h3>document</h3>
			<table class="table table-condensed">
				<thead>
					<tr>
						<th><h6>type </h6></th><th><h6>name</h6></th><th><h6>info</h6></th><th><h6></h6></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><i class="lead icon i-condition-text"></i>&nbsp;&nbsp;<small>{{doc.document.type}}</small></td>
						<td><strong>{{doc.document.name}}</strong></td>
						<td><span class="label label-default">{{doc.document.info}}</span></td>
						<td><a ng-href="{{doc.document.url}}" class='btn btn-sm' target="_blank">Download</a></td>
					</tr>
				</tbody>
			</table>			
		</div>
	</div>
	
	<div class="row margin-top">
		<div class="col-md-12">
			<h3>Non-compliant element</h3>
			<div class="elements-group">
						<div class="row">
							<div class="col-md-6">
								<div class="element">
									<h6>reference</h6>
									<h2><span class="label" ng-class="{shipment:'label-shipment', box:'label-box', item:'label-item'}[doc.element.type]">{{doc.element.reference}}</span> <a class="btn" ng-href="{{doc.element.type}}/{{doc.element.id}}" alt="Item details"><i class="icon i-external-link"></i></a></h2>
									<h6>description</h6>
									<p>{{doc.element.description}}</p>
									<h6>photo</h6>
									<div>
										<div class="image-wrapper"><img ng-src="{{doc.element.image.url}}" alt="{{doc.element.image.name}}" /></div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<table class="table table-condensed top">
									<thead>
										<tr>
											<th><h6> </h6></th>
											<th><h6>user</h6></th>
											<th><h6>date</h6></th>
											<th><h6>comment</h6></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="comment in doc.comments">
											<td><i class="icon i-disc" ng-class="{late:'important', open:'warning', closed:'success'}[comment.status]" tooltip="{{comment.status}}"></i></td>
											<td nowrap><small>{{comment.user.first_name + " " + comment.user.last_name}}</small></td>
											<td nowrap><small>{{comment.date * 1000 | date:'dd.MM.yy, HH:mm'}}</small></td>
											<td>{{comment.message}}</td>
										</tr>
									<tbody>
								</table>
								<span ng-hide="doc.status=='closed'"><a class='btn' ng-click="open(doc, user, 'open')">Add a comment</a> <a class='btn' target="_blank" ng-click="open(doc, user, 'closed')">Close report</a></span>
							</div>
						</div>
					</div>		
		</div>
	</div>
</div>