<div class="header bg-generic">
	<h1 class="container">Guidelines: Transport</h1>
</div>

<div class="container">
	<div class="row margin-top">
		<div class="col-md-12">
			<div class="elements-group">
				<h1><a href="guidelines/transport/process">Process overview</a></h1>
				<div class="row margin-top">
					<div class="col-md-4">
						<p>The whole logistics process, presented step by step, from the creation of an order to the delivery at the client. </p>
					</div>
					<div class="col-md-8">
						<div class="row" ng-repeat="elm in elmsProcess">
							<div class="col-md-12">
								<a ng-href="guidelines/transport/process#{{elm.id}}"><h4>{{elm.step}}. {{elm.name}}</h4></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row margin-top">
		<div class="col-md-12">
			<div class="elements-group">
				<h2 class="picto picto_web pull-right">Web</h2>
				<h1><a href="guidelines/transport/web">{{elmWeb.title}}</a></h1>
				<div class="row margin-top">
					<div class="col-md-4">
						<p>{{elmWeb.description}} </p>
					</div>
					<div class="col-md-8">
						<div class="row" ng-repeat="instruction in elmWeb.instructions">
							<div class="col-md-12">
								<a ng-href="guidelines/transport/web#{{instruction.id}}"><h4>{{$index+1 + '. ' + instruction.name}}</h4></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row margin-top">
		<div class="col-md-12">
			<div class="elements-group">
				<h2 class="picto picto_mobile pull-right">Mobile</h2>
				<h1><a href="guidelines/transport/mobile">{{elmMobile.title}}</a></h1>
				<div class="row margin-top">
					<div class="col-md-4">
						<p>{{elmMobile.description}} </p>
					</div>
					<div class="col-md-8">
						<div class="row" ng-repeat="instruction in elmMobile.instructions">
							<div class="col-md-12">
								<a ng-href="guidelines/transport/mobile#{{instruction.id}}"><h4>{{$index+1 + '. ' + instruction.name}}</h4></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
