/* @override 
	http://localhost/lscm-clear.com/app-tmp/pdf/css/pdf.css */

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic-webfont.eot');
    src: url('../fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Italic-webfont.woff') format('woff'),
         url('../fonts/Roboto-Italic-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold-webfont.eot');
    src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: 700;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BoldItalic-webfont.eot');
    src: url('../fonts/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/Roboto-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
    font-weight: 700;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: 300;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic-webfont.eot');
    src: url('../fonts/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-LightItalic-webfont.woff') format('woff'),
         url('../fonts/Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

body {
    margin: 0;
    padding: 0;
    /*background-color: #FAFAFA;*/
}
*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}
/*.page {
    width: 210mm;
    min-height: 277mm;
    padding:10mm 15mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}*/

.page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
}

.subpage {
    height: 270mm;
}

@page {
    size: A4;
    margin: 0;
}
/*@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}*/




body {
	font: 8pt/12pt 'Roboto', sans-serif;
	-webkit-print-color-adjust: exact;
}
.subpage {
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
}


.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 2px;
}

.table > thead > tr > th {
	border-bottom: 0px none white;
	border-top: 0px none white;
}

.logo {
	width: 85mm;
	margin:0 auto;
	display:block;
}
.margin-bottom {
	margin-bottom: 12pt;
}
.margin-top {
	margin-top: 24pt;
}
.table>tbody>tr>td.border-top {
	border-top: 1px solid black;
}
.align-right {
	text-align: right;
}
.filet {
	border-left: 1px solid gray;
	padding-left: 10pt;
}
.gray {
	color: silver;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  margin-bottom: 6pt;
}
h1 {
	font-size: 20pt;
	line-height: 24pt;
	font-weight: 300;
}
h2 {
	font-size: 12pt;
	font-weight: 700;
}
h3 {
	font-size: 8pt;
	border-bottom: 1px solid black;
	padding-bottom: 8pt;
	margin-bottom: 0;
	padding-top: 8pt;
}
h4 {
	font-size: 8pt;
	font-weight: 700;
	margin-bottom: 3pt;
}
h6, h3, th {
	font-weight: 700;
	text-transform: uppercase;
}
h6, th {
	font-size: 6pt;
	line-height: 6pt;
}
p {
	margin-bottom: 0;
}

.bg-shipment {
	background-color: #82dd2a !important;
	padding-top: 6pt;
	-webkit-print-color-adjust: exact;
}
.bg-order {
	background-color: #fd7f23 !important;
	padding-top: 6pt;
	-webkit-print-color-adjust: exact;
}
.bg h1 {
	color: white !important;
	margin-bottom: 3pt;
}
.picto {
	width: 9mm;
	margin-top: -6px;
}

.chevron {
	margin-left: -16px;
	margin-top: -4pt;
	background-color: white !important;
	padding-top: 4pt;
	padding-bottom: 4pt;
	margin-bottom: 0;
}
.sticky {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.label {
	color: white !important;
	border: none;
}
.label-success {
  background-color: #5cb85c !important;
}
.label-warning {
  background-color: #f0ad4e !important;
}

.label-danger {
  background-color: #d9534f !important;
}
.label-order {
  background-color: #fd7f23 !important;
}
.label-shipment {
  background-color: #82dd2a !important;
}

.chart {
	height: 50mm;
}
.icon {
	width: 6mm;
}
.timeline .col-xs-3 {
	overflow: hidden;
}
.timeline-img {
	margin-left: -15px;
}
.timeline h2 {
	margin-left: -15px;
}
.timeline p {
	margin-left: 40px;
}
.border {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: 10px;
	margin-top: 20px;
}
table {
  border-collapse: collapse;
}

tbody {
	border-bottom: 2px solid black;
}
tbody::before
{
  content: '';
  display: block;
  height: 8px;

}
.neg {
	background-color: silver;
	color: white;
}
.neg p {
	padding-left: 8px;
}
object.img-responsive {
  width: 100%    !important;
  height: auto   !important;
}

