<div class="header bg-generic">
	<h1 class="container">Guidelines</h1>
</div>

<div class="container">

	<div class="row margin-top">
		<div class="col-md-12">
			<h2 class="picto pull-right" ng-class="['picto_'+elm.type]">{{elm.type}}</h2>
			<h1>{{elm.title}}</h1>
		</div>
	</div>
	<div class="row margin-top">
		<div class="col-md-4">
			{{elm.description}}
		</div>
		<div class="col-md-8">
			<ul>
				<li ng-repeat="instruction in elm.instructions"><a ng-click="scrollTo(instruction.id)"><h4>{{$index+1 + '. ' + instruction.name}}</h4></a></li>
			</ul>
		</div>
	</div>
	
	<div class="row margin-top" ng-repeat="instruction in elm.instructions">
		<div class="col-md-12">
			<div class="elements-group">
		
				<h1>{{$index+1 + '. ' + instruction.name}}</h1>
				
				<div class="row">
					<div class="col-md-12">
						<p ng-if="instruction.relateds_txt" class="margin-top-s">{{instruction.relateds_txt}}: </p>
						
						<div class="row">
							<div class="col-md-3" ng-repeat="type in types">
								<div class="element margin-top" ng-if="!!instruction.relateds[type]">
									<h5><span class="label capitalize" ng-class="{order:'label\-order', shipment:'label\-shipment', box:'label\-box', item:'label\-item'}[type]">{{type}} </span></h5>
									<ul>
										<li ng-repeat="condition in instruction.relateds[type]">
											<h5><span class="label label-neutral"><i class="icon" condition-icon></i> {{condition.name}}</span> <a ng-href="guidelines/{{condition.guideline.url.page + '#' + condition.guideline.url.anchor}}" ng-if="!!condition.guideline"><i class="icon i-infos" tooltip="{{condition.guideline.name}}" tooltip-placement="right"></i></a></h5>
										</li>
									</ul>
								</div>
							</div>
						</div>
						
						
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div class="element margin-top" ng-repeat="step in instruction.steps">
							<div class="row">
								<div class="col-md-6">
									<h4>{{($parent.$index+1) + '.' + ($index+1)}} </h4>
									<p><strong>{{step.from}},</strong></p>
									<p>{{step.description}}</p>
								</div>
								<div class="col-md-6">
									<img ng-src="img/guidelines-transport/{{step.img}}" class="img-responsive img-thumbnail">
								</div>
							</div>
						</div>
						<div class="border-top elements-group-bg margin-top" id="{{elm.instructions[$index+1].id}}">
							<p class="margin-no"><a ng-click="scrollTo('top')"><small>Back to top</small></a></p>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

</div>

