<!doctype html>
<html lang="en" ng-app="clearApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CLEAR | LSCM</title>
		<!-- update:include ../app-dev/partials/base.html -->
		<base href="/app-dev/">
		<!-- /update -->
		<!-- build:css css/app.css -->
		<link rel="stylesheet" href="css/app.css"/>
		<link rel="stylesheet" href="lib/css/loading-bar.css"/>
		<link rel="stylesheet" href="lib/css/toaster.css"/>
		<link rel="stylesheet" href="css/styles.css"/>
		<!-- endbuild -->
		
	</head>

	<body ng-controller="MainCtrl" clear-auth ng-cloak ng-class="{tv: tvScreen, login: !loggedIn, submenu: menu.sub.height}">

		<div id="wrap">
		
			<toaster-container toaster-options="{'position-class': 'toast-bottom-center'}"> </toaster-container>
		
			<div class="login-box" ng-hide="loggedIn">
				<div class="login-logo">
					<img src="conf/img/clear_logo_type.svg" alt="Cloud Logistics Extranet Application Resource"/>
				</div>
				<form ng-submit="login()" class="form-horizontal" role="form">
					<div class="form-group">
						<label class="control-label col-sm-4">Username</label>
						<div class="controls col-sm-8">
							<input type="text" class="form-control" ng-model="username">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Password</label>
						<div class="controls col-sm-8">
							<input type="password" ng-model="password" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-4 col-sm-8">
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="remember">Remember me
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="controls col-sm-offset-4 col-sm-8">
							<input type="submit" class="btn btn-lg btn-default" value="Log In"/>
						</div>
					</div>		
				</form>
			</div>
			
			<div ng-if="loggedIn">
				
				<div class="navbar navbar-default navbar-fixed-top" ng-init="menuCollapsed = true" ng-hide="tvScreen"  role="navigation">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse" ng-click="isCollapsed = !isCollapsed">
								  <span class="sr-only">Toggle navigation</span>
								  <span class="icon-bar"></span>
								  <span class="icon-bar"></span>
								  <span class="icon-bar"></span>
								</button>
							<a class="navbar-brand" href="dashboard"><img src="conf/img/clear_logo_type.svg" alt="Clear" /></a>
						</div>
						<div class="navbar-collapse collapse" collapse="isCollapsed">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="guidelines" alt="Guidelines" title="Guidelines"><i class="icon i-help"></i></a>
								</li>
								<li class="dropdown">
									<a class="dropdown-toggle" href="#"><i class="icon i-user"></i> <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="user">{{user.first_name}} {{user.last_name}}</a></li>
										<li><a ng-click="logout()">Logout</a></li>
									</ul>
								</li>
							</ul>
							<ul class="nav navbar-nav" ng-if="menu.sub.visible">
								<li ng-if="sections.transport"><a href="transport/dashboard">Transport</a></li>
								<li ng-if="sections.stock"><a href="stock/warehouses">Stock</a></li>
							</ul>
							<hr  ng-if="menu.sub.visible" />
							<ul class="nav navbar-nav" ng-if="menu.current === 'transport'">
								<li><a href="transport/tracking">Tracking</a></li>
								<li><a href="transport/indicators">Indicators</a></li>
								<li><a href="transport/search">Search</a></li>
								<li><a href="transport/alerts">Alerts</a></li>
								<li class="dropdown"><a class="dropdown-toggle">Documents <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="transport/documents/ir">Inspection reports</a></li>
										<li><a href="transport/documents/ncr">Non-conformity reports</a></li>
										<li><a href="transport/documents/pod">Proofs of delivery</a></li>
										<li><a href="transport/documents/archive">Archives</a></li>
										<li><a href="transport/documents/media">Medias</a></li>
									</ul>
								</li>
								<li><a href="transport/add-order">Add order</a></li>
							</ul>
							<ul class="nav navbar-nav" ng-if="menu.current === 'stock'">
								<li><a href="stock/warehouses">Warehouses</a></li>
								<li><a href="stock/movements">Movements</a></li>
								<li><a href="stock/replenishments">Replenishments</a></li>
								<li><a href="stock/items">Items</a></li>
								<li><a href="stock/indicators">Indicators</a></li>
							</ul>
						</div><!--/.nav-collapse -->
					</div>
				</div>
		
				<div class="content">
					<div ng-view></div>
					<div id="push"></div>
				</div>
			
			</div> <!--/loggedIn-->
					
		</div> <!--/#wrap-->
			
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<img src="conf/img/clear_logo_footer.jpg" alt="" class="footer-logo"/>
					</div>
					<div class="col-md-3">
						
					</div>
					<div class="col-md-3">
						<p class="margin-top"><small>Cloud Logistics Extranet Application Resource<br />v.<span app-version></span></small> |  <small>&copy; LSCM 2014</small></p>
						<p class="margin-top"><img src="conf/img/lscm_logo.png" alt="" /></p>
					</div>
				</div>
			</div>
		</footer>

		<!-- build:js js/libs.js -->
		<script src="lib/js/angular-file-upload-html5-shim.js"></script>
		<script src="lib/js/angular.js"></script>
		<script src="lib/js/angular-route.js"></script>
		<script src="lib/js/angular-resource.js"></script>
		<script src="lib/js/angular-cookies.js"></script>
		<script src="lib/js/angular-animate.js"></script>
		<script src="lib/js/ui-bootstrap-tpls.js"></script>
		<script src="lib/js/http-auth-interceptor.js"></script>
		<script src="lib/js/loading-bar.js"></script>
		<script src="lib/js/angular-file-upload.js"></script>
		<script src="lib/js/toaster.js"></script>
		<script src="lib/js/d3.js"></script>
		<script src="lib/js/nv.d3.js"></script>
		<script src="lib/js/angularjs-nvd3-directives.js"></script>
		<!-- endbuild -->
		<!-- build:remove -->
		<script src="lib/js/angular-mocks.js"></script>
		<!-- endbuild -->
		<!-- build:js js/app.js -->
		<script src="conf/js/app.js"></script>
		<script src="core/js/filters.js"></script>
		<script src="core/js/services.js"></script>
		<script src="modules/transport/js/services.js"></script>
		<script src="modules/stock/js/services.js"></script>
		<script src="core/js/controllers.js"></script>
		<script src="modules/transport/js/controllers.js"></script>
		<script src="modules/stock/js/controllers.js"></script>
		<script src="core/js/directives.js"></script>
		<script src="modules/transport/js/directives.js"></script>
		<script src="modules/stock/js/directives.js"></script>
		<!-- endbuild -->
		<!-- build:remove -->
		<script src="mock/mock.js"></script>
		<!-- endbuild -->
		
	</body>
</html>
