<div class="header bg-generic">
	<h1 class="container">Search</h1>
</div>

<div class="container">
	<div class="row margin-top">
		<div class="col-md-12">
		
			<fieldset>
				<div class="radio" ng-repeat="type in types">
					<label class="control-label">
						<input type="radio" ng-model="urlPage.type" value="{{type.type}}" ng-change="urlSet(urlPage.type)"> <h4>{{type.name}}</h4>
					</label>
					urlPage {{urlPage}}
				</div>
			</fieldset>
		</div>
	</div>
	<div class="row" ng-controller="ListCtrl" ng-show="listShow">
	    <div class="col-md-12" ng-include="'partials/transport/elements-tpl-list.html'">
		
		</div><!--/col-->
	</div><!--/row-->
</div><!--/container-->


